<div class="containerDivGeneric">
  <div class="col-md-8 marginAuto" style="margin-left:15%;">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
    </div>

    <h4 class="header-border">THE 18TH WORLD CONGRESS OF JEWISH STUDIES</h4>
    <div>
      <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
        <div class="div col-md-5 marginAuto">
          <br />
          <h4>Thank you {{Name.FirstName}}      {{Name.LastName}}</h4>
          <br />  <label>You and your colleagues will</label>
          <br /> <label>receive an email with a request and instructions to submit your lecture proposals.</label>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
