
<!-- <div style="background-color:#fff;height:150px;width:100%;">
  <div style="width:100%;position:fixed;height:150px;background-color: white;z-index: 1000;top: 0;">
    <div class="top-line">
    </div>
  </div>
</div> -->





<!-- <div class="top-line">
  <img class="book-jornal" src="/assets/images/books.PNG" />
</div> -->
<div class="body">
  <div style="background-color:#fff;width:100%;height: 115px;">
    <div style="max-width: 1100px;width:100%;position:fixed;height:115px;background-color: white;z-index: 1000;top: 0;">
      <div class="top-line">
        <div style="z-index: 1000;top: 0;">
          <div style="margin-left:65%;top:0px;position:fixed;"> 
            <span *ngIf="num!=0" class="right-cart-number" id="right-cart-num" data-spm-anchor-id="a2g0o.productlist.1000002.i0.14015a2cFC9YMg" (click)="NavigCart()">{{num}}</span>
            <img *ngIf="num!=0" style="width: 77px; height: 94px; cursor:pointer;" src="/assets/images/Cart_Number.png" (click)="NavigCart()" />
            <img *ngIf="num==0" style="width: 77px; height: 94px; cursor:pointer;" src="/assets/images/Cart.png" (click)="NavigCart()" />
        </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-md-10" style="margin: auto;padding: 0;">
  <div>
    <span class="span" class="shopping-cart-title" style="padding: 0;"> {{num}} books in your cart</span><br /><br />
  </div>
</div>
<div>
  <div class="header-table" style="width:100%; margin: auto; color:black;">
    <div class="marginAuto ">
      <span class="col-md-2  floatLeft table-title" style="margin: 0 auto;padding-left: 0; margin-left: 8%;">Product</span>
      <!-- <span class="col-md-3  floatLeft table-title">Name</span> -->
      <span class="col-md-3  floatLeft table-title"  style="padding-left: 8%;text-align: center">Price</span>
      <span class="col-md-3  floatLeft table-title"  style="padding-left: 6%;">Quantity</span>
      <span class="col-md-2  floatLeft table-title" style="padding-left: 4%;">Total</span>
      <span class="col-md-1  floatLeft table-title"> </span>
    </div>
  </div>
</div>
<br /><br />

<div class="container">
  <div class="row" style="margin: auto;height: 0.01px;">
    <div class="col-md-11 border-buttom margin-b-30" style="margin-left: 4%;"></div>
  </div>
</div> 
<br /><br />

<div class="clear"></div>
<div style="width: 100%;margin: auto;">
  <div class="col-md-12 marginAuto">
    <div *ngFor="let item of DB" style="position:relative; ">
      <div class="row" style="margin-bottom:2%;margin-top: 2%;">
        <div class="col-md-3 floatLeft" style="padding-left: 97px;">
          <img src="{{item.ImageBook}}" style="width:65px;height:92px;padding-top:0px;float:left;" />
          <span style=" position: absolute;color: #333333;font-size:12px;font-family:'Open Sans', sans-serif;font-weight: bold; padding: 20px;width:82%;padding-right: 30px; text-align:left;float:left;padding-top:0px;">{{item.NameBook}} </span>
        </div>
        <div class="col-md-3 floatLeft" style="padding-left: 9%;text-align: center">
          <span *ngIf="item.SallePrice==0" style="color: #333333;font-size:18px;font-family:'Open Sans', sans-serif;font-weight: bold">${{item.PriceBook}} </span>

          <span *ngIf="item.SallePrice!=0" style="color: #333333;font-size:18px;font-family:'Open Sans', sans-serif;font-weight: bold">${{item.SallePrice}} </span>
        </div>
        <div class="col-md-3 floatLeft" style="padding-left: 5%;">
          <span><label style="color: #333333;font-size:18px;font-family:'Open Sans', sans-serif;font-weight: normal;border: 1px solid #eaeaea;padding: 5px 12px;" (click)="deleteQuantity(item)">-</label> </span>
          <span><label style="color: #333333;font-size:18px;font-family:'Open Sans', sans-serif;font-weight: normal;border: 1px solid #eaeaea;padding: 5px 12px;">{{item.Quantity}}</label> </span>
          <span><label style="color: #333333;font-size:18px;font-family:'Open Sans', sans-serif;font-weight: normal;border: 1px solid #eaeaea;padding: 5px 10px;" (click)="AddQuantity(item)">+</label> </span>
        </div>
        <div class="col-md-2 floatLeft" style="padding-left: 5%;">

          <span style="color: #333333;font-size:18px;font-family:'Open Sans', sans-serif;font-weight: bold">${{item.Total}}</span>
          <!--<span class="col-md-2 margin-t-9 ng-binding padd" style="padding: 20px;padding-left: 30px;padding-right: 30px;width:200px;text-align:center;"><button (click)="AddQuantity(item)">Add Quantity</button></span>-->
        </div>
        <div class="col-md-1 floatLeft" style="flex: 0 0 0.333333%; max-width: 0.333333%;">
          <div style="cursor:pointer;position:absolute;right:10%;top:0;" (click)="RemoveQuantity(item)">
            <span>X</span>
          </div>
       </div>
  
      </div>
      <!-- <div style="cursor:pointer;position:absolute;right:10%;top:0;" (click)="RemoveQuantity(item)"><span>X</span></div> -->
      <div class="container">
        <div class="row" style="margin: auto;height: 0.01px;">
          <div class="col-md-11 border-buttom margin-b-30" style="margin-left: 4%;"></div>
        </div>
      </div>  
    </div>

  </div>

</div>

<br/><br />
<div>
  <span  class="span" class="shippingAddressTitle">Shipping address</span>
</div><br/><br />
<div class="col-md" style="padding: 0;background-color: #f8f8f8;flex: 0 0 90%;max-width: 90%;margin-left: 60px;">
  <br />
  <div class="margin-top" >
    <!-- #namee -->
    <label class="col-md-6  headerGray color-gray" style="padding-left: 38px;" #namee>Addressee full name</label>
   
   <!-- #address -->
   <label class="col-md-6 headerGray color-gray" style="padding: 23px;" #address>Address [Street + city + state + postal code]</label> 
  
  </div>
  <div class="row" style="margin-left: -1px;height: 35px;">
    <div class="col-md-6"  style="padding-left: 36px;">
      <!-- (focusout)="unfocusnamee()" (focus)="focusnamee()" -->
      <input type="text" value="{{FirstName}}" [(ngModel)]="FirstName"    #nameefirstinput
      style="width: 30%;background-color: #f8f8f8;outline: none; border: none;border-bottom: 1px solid #c0bfbf;" />
      <!-- (focusout)="unfocusnamee()" (focus)="focusnamee()" -->
      <input  type="text" value="{{LastName}}" [(ngModel)]="LastName"     #nameelastinput
      style="width: 30%; margin-left: 2%;background-color: #f8f8f8;outline: none; border: none;border-bottom: 1px solid #c0bfbf;" />
    </div>

    <div class="col-md-6" >
       <!-- (focusout)="unfocusaddress()" (focus)="focusaddress()" -->
     <input class="col-md" type="text" value="{{Address}}" [(ngModel)]="Address" #addressinput
     style="padding:0;background-color: #f8f8f8;width:90%;outline: none; border: none;border-bottom: 1px solid #c0bfbf;" />
      </div>

  </div>


  <div class="row" style="margin-left: -1px;height: 70px;">
    <div class="col-md-6"  style="margin-top: 30px;color:gray">
      <!-- #country -->
    <label class="col-md-6 margin color-gray" style="padding-left: 30px;" #country>Country</label>     
    </div>
    <div  class="col-md-6" style="margin-top: 30px; color:gray">
     <!-- #usernaeemailemail -->
     <label class="col-md-6 margin headerGray color-gray" style="padding: 0;" #usernameemail>Email</label>     
    </div>
  </div>
  
  <div class="row" style="margin-left: -1px;height: 70px;">
  <div class="col-md margin-top" style="margin-left: -1px;padding-left: 42px; ">
    <!-- (focusout)="unfocuscountry()" (focus)="focuscountry()" -->
    <select class="col-md"  [(ngModel)]="selectedCountry" #countryinput style="padding: 0;width: 63%;background-color: #f8f8f8;outline: none; border: none;border-bottom: 1px solid #c0bfbf;">
      <option [value]="selectedCountry" selected>{{selectedCountry}}</option>
      <option *ngFor="let c of Country" [ngValue]="c">{{c}}</option>
    </select>
  </div>
  <div class="col-md-6" >
     <!-- (focusout)="unfocususenameemil()" (focus)="focususernameemail()" -->
  <input class="col-md" name="UserNameLogin" ngDefaultControl #usernameemailinput style="padding: 0;background-color: #f8f8f8;width:60%;outline: none; border: none;border-bottom: 1px solid #c0bfbf;"  type="text" value="{{UserNameLogin}}" [(ngModel)]="UserNameLogin"  />
  <div *ngIf="emailvalidate" name="emailvalidate"  ngDefaultControl [(ngModel)]="emailvalidate">
    <small class="text-danger">Please provide a valid email address</small>
  </div>
</div>
  <br />
</div>   

</div>
<br /><br />
<!--<div class="clear"></div>-->
<div class="row">
<div class="col-md-8" style="float: right;margin-right: 0px;margin-left: 30%;margin-bottom: 5%;">
 <div class="col-md-8" style="margin:auto;margin-right: 0;"> 
      <span class="span" class="cart-total-title" >Cart totals</span>
      <br /><br />
      <div class="container">
        <div class="row" style="height: 0.01px;">
          <div class="col-md-12 border-buttom margin-b-30" style="margin-right: 15%;"></div>
        </div>
      </div>
  <div class="col-md-12 input-total" style="padding: 12px;">
  <label class="col-md-3 label-cart-subtotal">Subtotal: </label>
  <label  class="col-md-1 label-cart-total" style="color:black">${{this.Total}}</label>
  <br /><br />
  <div class="container">
    <div class="row" style="height: 0.01px;">
      <!-- flex: 0 0 86.666667%; max-width: 86.666667%; -->
      <div class="col-md-12 border-buttom margin-b-30" style="margin-right: 16%;"></div>
    </div>
  </div>
  <br />
  <label class="col-md-3  label-cart-subtotal">Total: </label>
  <label class="col-md-1 label-cart-total" style="color:#026fa7">${{this.Total}}</label>
  </div>
  <br /><br />
  <div class="container">
    <div class="row" style="height: 0.01px;">
      <div class="col-md-12 border-buttom margin-b-30" style="margin-right: 14%;"></div>
    </div>
  </div> 
  <br />
 <div class="col-md-12 " style="float: left; padding-bottom: 50px;">
  <!-- <button (click)="SendToNew()" class=" col-md-3 fill-btn-blue checkout-btn" style="padding-right: 0;padding-left: 0; float: left;">Back </button> -->
  <button (click)="checkout()" class="fill-btn-blue checkout-btn" style="padding-right: 0;padding-left: 0; float: right;width: 145px;">CHECKOUT</button>
  <br /><br />
</div>

 </div> 
 
</div>
</div>
<div class="clear"></div>
<br /><br />
</div>
