

<div class="container right">
  <div class="top-line">
    <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
  </div>
</div>
<br /><br />


<br /><br /><br /><br /><br />
<div class="center-div-wrap center-div row center22 centerA" style="width:50%;height:50%" >
<br /><br /><br /><br /><br /><br /><br /><br />
<label (click)="HaveAccount()" class="letter" style="margin-top:100px;cursor:pointer;"> I have an account</label><br /><br /><br /><br />
<label (click)="OpenAccount()" class="letter" style="cursor:pointer;">Open an account</label>
</div>
