.btn-send-message {
  text-align: center;
  width: 9%;
  padding: 1%;
  background: linear-gradient(#0040ff,#668cff);
  color: white;
  border: none;
  font-size: medium;
  margin-top: 20px;
}
.btn-outline-secondary:hover{
  color:black;
  background-color:pink;
}
.tooltip {
  position: relative;
  display: contents;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: wheat;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

  }
.tooltiptext:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
  left: -8px;
  top: 7px;
  color:pink;
}
.tooltiptext{
  width:400px !important;
  height:200px !important;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*.tooltip-inner {
  max-width: 350px;
  width: 350px;
}*/
.input {
  width: 20%;
  height: 40px;
  font-size: x-large;
}

.td-letter {
  font-size: x-large;
  color: #668cff;
  text-align: center;
}

.center-form {
  margin-left: 40%;
}

.letter-Header {
  font-size: 50px;
  color: #668cff;
  text-align: center;
  font-weight: bold;
}

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*h3:hover {
  color: #026fa7;
  font-size: x-large;
}*/

* {
  box-sizing: border-box;
}

.products-4 > li {
  float: left;
  width: 27%;
  margin-right: 1%;
}

.book-jornal {
  width: 100%;
  height: 150px;
}

.products > li {
  border: 1px solid #efefef;
  border-bottom-width: 2px;
  margin-bottom: 10px;
}

.fusion-main-menu, .fusion-logo-background {
  --header_sticky_nav_padding: 35px;
}

.fusion-main-menu {
  --header_sticky_menu_color: #026fa7;
  --header_sticky_nav_font_size: 18px;
  --nav_height: 140px;
  --mobile_nav_padding: 25px;
  --menu_text_align: center;
  --menu_thumbnail_size-width: 26px;
  --menu_thumbnail_size-height: 14px;
}

.fusion-main-menu {
  float: right;
  position: relative;
  z-index: 200;
  overflow: hidden;
}

.product {
  position: relative;
}
.letter{
  font-size:large;
}
.big {
  height: auto;
  width: 100%;
  max-height: unset;
  overflow: hidden;
  min-height: 500px;
}
.centerA {
  width: 60%;
  height: 60%;
  margin: auto;
  top: 150px;
  left: 400px;
  position: fixed;
  /* background: white; */
  background-color: #ffffffc2;
  /* text-align:center;*/
  margin-left: 40px;
  font-size: large;
}
/*.logo-img {
  width: 300px;
  height: 120px;
  margin-left: 70%;
  margin-top: 10px;
  margin-right: 10%;
}*/

/*h4:before {
  content: '\f07a';
  font-family: fontawesome;
  padding-left: 10px;
}*/

h3 {
  font-size: x-large;
}

.icon-cart {
  width: 40px;
  height: 20px;
}

.fusion-body .fusion-content-sep.sep-solid, .fusion-body .fusion-separator.sep-solid {
  border-bottom-style: solid;
  border-top-style: solid;
}

.fusion-body .fusion-content-sep.sep-double, .fusion-body .fusion-separator.sep-double {
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.product .product-buttons .fusion-content-sep {
  margin-top: 14px;
  margin-bottom: 15px;
}

div {
  display: block;
}

.span {
  color: #026fa7;
  font-size: large;
}

ul {
  list-style: none;
}

.ul {
  color: #026fa7;
  font-size: x-large;
  margin: 10px;
  display: inline;
}

  .ul:hover {
    color: #27b5e5;
  }

.icon-details {
  width: 30px;
  height: 30px;
}

label {
  margin: 10px;
}

input {
  margin: 10px;
}
