

.tooltipSmallName {
  position: relative;
  display: contents;
  /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

  /* Tooltip text */
.tooltipSmallName .tooltiptextSmallName {
  visibility: hidden;
  width: 120px;
  background-color: #27b5e5;
  color: white;
  text-align: center;
  padding: 5px 0;
  /*border-radius: 6px;*/
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  /*top: -5%;*/
}

.tooltiptextSmallName:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #27b5e5;
  left: -8px;
  top: 20%;
  color: pink;
}

.tooltiptextSmallName {
  width: 200px !important;
  height: 60px !important;
}

.tooltipSmallName:hover .tooltiptextSmallName {
  visibility: visible;
}




.tooltipSmall {
  position: relative;
  display: contents;
  /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

  /* Tooltip text */
  .tooltipSmall .tooltiptextSmall {
    visibility: hidden;
    width: 120px;
    background-color: #27b5e5;
    color: white;
    text-align: center;
    padding: 5px 0;
    /*border-radius: 6px;*/
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    left: 40%;
    top: -70;
  }

.tooltiptextSmall:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #27b5e5;
  left: -8px;
  top: 20%;
  color: pink;
}

.tooltiptextSmall {
  width: 200px !important;
  height: 150px !important;
}

.tooltipSmall:hover .tooltiptextSmall {
  visibility: visible;
}






.tooltip {
  position: relative;
  display: contents;
  /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #27b5e5;
    color: white;
    text-align: center;
    padding: 5px 0;
    /*border-radius: 6px;*/
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    left: 40%;
    top: -70%;
  }

.tooltiptext:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #27b5e5;
  left: -8px;
  top: 20%;
  color: pink;
}

.tooltiptext {
  width: 200px !important;
  height: 150px !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}








select {
  width: 300px;
  color: black;
}

.backGray {
  background-color: #f3f2f2;
  margin-top: 2%;
}

.fill-btn-blue {
  background-color: #27b5e5;
  padding: 10px 48px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 19px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 100px;
}

.fill-btn-disabled {
  background-color: #f3f2f2;
  padding: 10px 48px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 19px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 100px;
}

.big {
  /*height: 20%;*/
  width: 15%;
  max-height: unset;
  overflow: hidden;
  font-size: large;
  /*min-height: 500px;*/
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  border-bottom: 0.1px solid gray;
}

.btn-primary {
  color: black;
}

.over {
  background-color: white;
  padding: 10px 48px;
  border-color: #27b5e5;
  color: #27b5e5;
  font-weight: bold;
  font-size: 19px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 100px;
  border-bottom-color: #27b5e5;
}

.out {
  color: white;
  background-color: #27b5e5;
}

select {
  border-top: none;
  border-right: none;
  border-left: none;
}

.margin-top {
  margin-top: 1%;
}

.centerA {
  width: 80%;
  /*height: 60%;*/
  margin: auto;
  top: 100px;
  left: 15%;
  position: fixed;
  /* background: white; */
  /*background-color: #ffffffc2;*/
  /* text-align:center;*/
  /*margin-left: 40px;*/
  /*font-size: large;*/
}

.marg10 {
  margin-bottom: 10px;
}
