<!--<div class="center" style="width:50%; height:80%;margin:auto;">-->
<!--<div style="margin-right: 65%;">
  <button (click)="Show2Proposals=!Show2Proposals">Submitting another lecture proposal</button>
  <div *ngIf="Show2Proposals">
    <label style="color:red;">     Submission is permitted only to sub-divisional lecturers:</label><br />
    <label style="cursor:pointer;" (click)="OpenSecondProposal()"> For more click here</label>
  </div>
</div>-->
<br />
<div class="containerDivGeneric">
  <div class="col-md-10" style="padding-left: 0% !important;">
    <h3 style="color:#27b5e5">Proposal for a lecture in the pre-organized session titled: {{SessionName}}</h3>
    <div class="backGray col-md-10">
      <br />
      <h6 style="color: #27b5e5;margin-left:2%">My Details</h6><br />
      <div class="row margin-top" style="margin-left:1%">
        <label class="col-md-1 headerGray">Title</label>
        <label class="col-md-3 headerGray">Full Name [English]</label>
        <label class="col-md-3 headerGray">
          Full Name [Hebrew]
          <div class="tooltipSmallName">
            <img src="/assets/images/TooltipIcon.png" />
            <span class="tooltiptextSmallName" style="text-align:left;padding-left:2%;">
              Not mandatory for<br />
              English speakers<br />
            </span>
          </div>
        </label>
        <label class="col-md-4 floatLeft headerGray">Email</label>
      </div>
      <div class="row " style="margin-left:1%">
        <select class="col-md-1" style="background:content-box;">
          <option [value]="Division" selected>{{Title}}</option>
          <option *ngFor="let tit of ArrTitle" [value]="tit">
            {{tit}}
          </option>
        </select>
        <div class="col-md-3">
          <input type="text" value="{{FirstName}}" [(ngModel)]="FirstName" style="width:45%;" />
          <input type="text" value="{{LastName}}" [(ngModel)]="LastName" style="width:45%;margin-left:2%;" />
        </div>
        <div class="col-md-3">
          <input type="text" value="{{FirstNameHebrew}}" [(ngModel)]="FirstNameHebrew" style="width:45%;" />
          <input type="text" value="{{LastNameHebrew}}" [(ngModel)]="LastNameHebrew" style="width:45%;margin-left:2%;" />
        </div>
        <!--</div>-->
        <div class="col-md-4 floatLeft" style="text-align:right;">
          <input type="text" value="{{LoginUserName}}" style="width:100%;" />
        </div>
      </div>
      <div class="row margin-top" style="margin-left:1%">
        <label class="col-md-6 headerGray">Division</label>
        <label class="col-md-5 floatLeft headerGray">Subdivision</label>
      </div>
      <div class="row margin-top" style="margin-left:1%">
        <label class="col-md-6">{{Division}}</label>
        <label class="col-md-5 floatLeft">{{SubDivision}}</label>
      </div>
    </div>

    <br /><br />
          <div class="row margin-top">
            <div class="col-md-5">
              <label class="headerGray">
                Lecture title [English]
                <div class="tooltip">
                  <img src="/assets/images/TooltipIcon.png" />
                  <span class="tooltiptext" style="text-align:left;padding-left:2%;">
                    Title in English (In the Latin American Jewry Section, titles may be submitted in
                    Spanish/Portuguese,  in the Ladino subdivision the title may be submitted in Ladino)
                  </span>
                </div>
              </label>
            </div>
            <label class="col-md-5 headerGray">Academic Affiliation</label>
          </div>
      <div [formGroup]="jobform">
        <div class="row margin-top form-group">
          <!-- <input #testInput id="name" ngModel name="name" formControlName="TitleEnglish" type="text" class="form-control col-md-3" [(ngModel)]="TitleEnglish" *ngIf="showLikeProp==false" />-->
          <!-- <input name="firstName" ngModel pattern="[a-zA-Z ]*">-->
          <input #testInput name="firstName" ngModel pattern="[0590-05FF‏]*" type="text"  class=" col-md-3" [(ngModel)]="TitleEnglish" *ngIf="showLikeProp==false" />
          <input #testInput type="text" class="col-md-3" style="margin-left:18%" *ngIf="showLikeProp==false" />
          <label class="col-md-3" *ngIf="showLikeProp==true">{{TitleEnglish}}</label>
          <label class="col-md-3" style="margin-left:18%"></label>
        </div>
      </div>
      <div class="row margin-top">
        <div class="col-md-5">
          <label class="headerGray">
            Lecture title [Hebrew]

            <div class="tooltipSmall ">
              <img src="/assets/images/TooltipIcon.png" />
              <span class="tooltiptextSmall" style="text-align:left;padding-left:2%;">
                Title in Hebrew (In the Yiddish subdivision,
                the title may be submitted in Yiddish with Hebrew Characters
              </span>
            </div>
          </label>
        </div>
        <label class="col-md-5 floatLeft  headerGray">Lecture language</label>
      </div>
      <div class="row margin-top">
        <input #testInput type="text" class="col-md-3" ng-pattern="pattern" [(ngModel)]="TitleHebrew" *ngIf="showLikeProp==false" />

        <select *ngIf="showLikeProp==false" #t (change)="selectlang($event.target.value)" [(ngModel)]="Language" class="col-md-3" style="margin-left:18%">
          <option [value]="Language" selected>{{Language}}</option>
          <option *ngFor="let Language of ArrLanguage" [value]="Language">
            {{Language}}
          </option>
        </select>
        <label class="col-md-3" *ngIf="showLikeProp==true">{{TitleHebrew}}</label>
        <label class="col-md-3" *ngIf="showLikeProp==true" style="margin-left:18%">{{Language}}</label>

      </div>
      <div class="row margin-top">
        <label class="col-md-5 headerGray">Abstract</label>
        <label class="col-md-5 floatLeft headerGray">Keywords</label>
      </div>
      <div class="row margin-top">
        <textarea (change)="changeProp()" #testInput [(ngModel)]="Proposal" style="width:291px;height:97px;" class="col-md-3" *ngIf="showLikeProp==false"></textarea>
        <textarea #testInput [(ngModel)]="Keywords" style="width:291px;height:97px;margin-left:18%" class="col-md-3" *ngIf="showLikeProp==false"></textarea>
        <label class="col-md-3" *ngIf="showLikeProp==true">{{Proposal}}</label>
        <label class="col-md-3" style="margin-left:18%" *ngIf="showLikeProp==true">{{Keywords}}</label>
      </div>
      <br /><br />
      <div class="row">
        <button (click)="Draft()" *ngIf="showLikeProp==false" class="fill-btn-blue col-md-3" style="margin-left:9%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Save draft</button>
        <button (click)="Save()" *ngIf="showLikeProp==false" class="fill-btn-blue col-md-3" style="margin-left:3%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Submit</button>
        <button (click)="Draft()" disabled *ngIf="showLikeProp==true" class="fill-btn-disabled col-md-3" style="margin-left:9%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Save draft</button>
        <button (click)="Save()" disabled *ngIf="showLikeProp==true" class="fill-btn-disabled col-md-3" style="margin-left:3%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Submit</button>
        <br /><br />
        <label *ngIf="SaveDraft">The draft saved</label>
      </div>
    </div>
  </div>

<!--<div>
  <label style="display: inline-block;width: 120px;">Division:</label>
  <select #t (change)="selectDivision($event.target.value)" [(ngModel)]="Division" *ngIf="SessionName==null">
    <option [value]="Division" selected>{{Division}}</option>
    <option *ngFor="let Division of ArrDivision" [value]="Division">
      {{Division}}
    </option>
  </select>
  <label *ngIf="SessionName!=null">{{Division}}</label>
  <br /><br />
  <label style="display: inline-block;width: 120px;"> Sub Division:</label>
  <select #t (change)="selectSubDivision($event.target.value)" [(ngModel)]="SubDivision" *ngIf="SessionName==null">
    <option [value]="SubDivision" selected>{{SubDivision}}</option>
    <option *ngFor="let SubDivision of ArrSubDivision" [value]="SubDivision">
      {{SubDivision}}
    </option>
  </select>
  <label *ngIf="SessionName!=null">{{SubDivision}}</label>

  <br /><br />
  <label style="display: inline-block;width: 120px;">Lecture title:</label><input type="text" [(ngModel)]="TitleEnglish" style="margin-right: 10px;" />
  <label style="display: inline-block;width: 180px;">Lecture title (Hebrew):</label><input type="text" [(ngModel)]="TitleHebrew" /><br /><br />
  <label style="display: inline-block;width: 120px;">Proposal(250 words)</label><textarea [(ngModel)]="Proposal"></textarea><br /><br />
  <label style="display: inline-block;width: 120px;">Language</label>
  <select #t (change)="selectlang($event.target.value)" [(ngModel)]="Language">
    <option [value]="Language" selected>{{Language}}</option>
    <option *ngFor="let Language of ArrLanguage" [value]="Language">
      {{Language}}
    </option>
  </select><br /><br />
  <label style="display: inline-block;width: 120px;">Keywords</label><textarea [(ngModel)]="Keywords"></textarea><br /><br />
  <input type="radio" name="one\two" value="1" (change)="showTwo=false" /><label>Lone Lecturer</label>
  <input type="radio" name="one\two" value="2" (change)="showTwo=true" /><label>Shared lecture</label>
  <div *ngIf="showTwo">
    <br /><label>Enter email and name</label>
    <br />
    <br />
    <label style="margin-right:20px">Email</label><input type="text" [(ngModel)]="Email2" style="margin-right:20px" />
    <label style="margin-right:20px">Name</label><input type="text" [(ngModel)]="Name2" />
  </div>
  <div style="padding-left:50px;padding-top:30px;">
    <button (click)="Draft()" class="fill-btn-blue" style="padding:10px; margin-right: 100px;width:150px;">Save draft</button>
    <button (click)="Save()" class="fill-btn-blue" style="padding:10px;width:150px;">Submit</button>
    <br /><br />
    <label *ngIf="SaveDraft">The draft saved</label>
  </div>
</div>
  </div>-->
<!--function ctrl($scope) {
      $scope.pattern = /[\u0590-\u05FF]+/g;
      }-->
