<form class="body">
  <div class="container rtl center">
    <div class="row head">
      <label>נספח א</label>
    </div>
    <div class="row">
      <label>בבניה עצמית :</label>
      <br />
      <label> אומדן שווי בבניה עצמית :</label>
    </div>
    <div class="row">
      <label>   שווי המגרש (ללא עלויות הבניה) (*) </label>
      <input type="text" class="mrgin" />
      <br />
      <label>
        (*) במקרים בהם המגרש נרכש לאחרונה ושווי המגרש גבוהה ממחיר הרכישה
        יש לציין גם את מחיר הרכישה וגם את שווי המגרש ולפרט את התחשיב והנתונים
        לאומדן השווי )
      </label>
    </div>
    <div class="row">
      <label>	שטח הבניה </label>
      <input type="text" class="mrgin" />
      <br />
      <label>	סה"כ עלות הבניה הצפויה לבניית בית המגורים :</label>
      <input type="text" class="mrgin" />
      <br />
      <label>
        להלן אומדן ההשקעה הצפויה בעלויות הבניה בכל שלב :
        יש לפרט את רמת הגמר ושטחי הבניה בהתאם לה נקבע אומדן עלות הבניה הצפויה
      </label>
    </div>

    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>שלב הבניה</td>
            <td> עלויות בניה לשלב הבניה בש"ח</td>
            <td>(%מסך עלויות הבניה הצפויות)</td>
            <td>שווי המגרש  + עלות בניה לשלב </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="שלב הבניה הנוכחי(יש לציין מה השלב הנוכחי):קרקע " />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר יסודות  " />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder " value="גמר שלד" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר טיח " />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר ריצוף" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר בניה בתוספת טופס 4" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="סהכ עלויות בניה" />
            </td>
            <td>
              <input type="text" class="mrgin" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <br /><br />
      <label> אומדן שווי המגרש + עלות הבניה במצב הנוכחי   </label>
      <input type="text" class="mrgin" />
      <br />
      <label>עלויות הבניה שהושקעו בנכס עד כה</label>
      <input type="text" class="mrgin" />
      <br />
      <label>אומדן עלויות צפוי לסיום הבניה</label>
      <input type="text" class="mrgin" />
      <br />
      <label>סה"כ שווי המגרש + עלות בניה צפויה בקבלת טופס 4</label>
      <input type="text" class="mrgin" />
      <br />
      <label>שווי הנכס הצפוי  בסיום הבניה לאחר קבלת טופס 4</label>
      <input type="text" class="mrgin" />
      <br /><br /><br /><br />
    </div>
    <div class="row">
      לדוגמא :
      א.	מחיר הרכישה של המגרש: 1,000,000
      (מחיר הרכישה 1,000,000 ₪ תואם את שווי המגרש1,000,000. )
      ב.	שטח הבניה : 200 מ"ר  (בהתאם להיתר הבניה ) שלב הבניה : גמר יסודות.
      ג.	עלות בניה : 1,500,00 ₪  (מתקבל 7,500 ₪ למ"ר )
      סטנדרט הבניה הצפוי : (בהתאם לפרטים שהתקבלו מהלקוח ומצורפים בנספח)
      ריצוף שיש בחלקים המשותפים  וריצוף פרקט בחדרים , מטבח  , חלונות פרופיל אלומיניום , תריסים חשמליים בחדרי השינה , דלתות ומשקופים פנימיים מעץ, דלת כניסה מעוצבת. חדרי רחצה הכוללים כלים סניטריים איכותיים לרבות אסלות תלויות , ארונות אמבטיה , חיפוי וריצוף אריחי קרמיקה , מערכת מיזוג אוויר . פיתוח מגרש הכולל צמחיה , שבילים ומשטחים מרוצפים בשטח של כ- 50 מ"ר.

    </div>

    <div class="row">
      <br /><br />
      <table class="table table-hover">
        <thead>
          <tr>
            <td>שלב הבניה</td>
            <td> עלויות בניה לשלב הבניה בש"ח</td>
            <td>(%מסך עלויות הבניה הצפויות)</td>
            <td>שווי המגרש  + עלות בניה לשלב </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="שלב הבניה הנוכחי(יש לציין מה השלב הנוכחי):קרקע " />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="(-)" />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall " value=" 1,000,000 "/>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר יסודות  " />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="225,000"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value=" 15%"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="1,225,000"/>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder " value="גמר שלד" />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="600,000"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="40%"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="1,600,000" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר טיח " />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="1,100,000"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="75%"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="2,200,000"/>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר ריצוף" />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall " value="1,350,000"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall " value="90% " />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="2,350,000" />
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="גמר בניה בתוספת טופס 4" />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="1,350,000"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall " value="100%"/>
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="2,350,000"/>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" class="mrgin selectWithoutBorder" value="סהכ עלויות בניה" />
            </td>
            <td>
              <input type="text" class="mrgin selectWithoutBorderSmall" value="1,500,000"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <label>ד.	אומדן שווי המגרש + עלות הבניה במצב הנוכחי               	 	   1,225,000</label><br />
      <label>  ה.	עלויות הבניה שהושקעו בנכס עד כה                              	   	   225,000</label><br />
      <label>  ו.	אומדן עלויות צפוי לסיום הבניה                                           	 	   1,225,000</label><br />
      <label> ז.	סה"כ שווי המגרש + עלות בניה צפויה בקבלת טופס 4     		   2,500,000</label><br />
      <label>ח.	שווי השוק של הנכס הצפוי  בסיום הבניה לאחר קבלת טופס 4           	    2,800,000</label><br />
      <label> שווי הנכס בסיום הבניה הינו אומדן המותנה בבניית הנכס בסטנדרט המפורט , בשטח המפורט , כי  שטחי הבניה יתאמו את היתרי בניה , לאחר הוצאת טופס 4 . </label>



    </div>

    <div class="row">
      <label> בשיפוצים : </label><br />
      <label>א.	במידה ולצורך השיפוץ נדרש להוציא היתר בניה יש לציין זאת בחוות הדעת ולציין  אם הוצג היתר בניה</label><br />
      <label>ב.	פרוט השיפוצים הצפויים : (מלל  )</label>
      <input type="text" class="mrgin" /><br />
      <label>
        ג.	אומדן  סך עלות הכוללת  של השיפוצים בש"ח  (לצרף טבלה הכוללת את סעיף התקציב ואומדן
        העלויות (מצ"ב דוגמא)
      </label>
      <input type="text" class="mrgin" />

    </div>

    <div  class="row">
      <label>
        דוגמא לתקציב של דירת גן באזור מבוקש במרכז  בה בעל הזכויות מבצע שיפוץ יסודי של הדירה , מחזיר את הדירה לרמה הקרובה לשלד ובונה את הדירה מחדש ברמת גמר גבוהה
        ( אומדן התקציב הינו בהתאם לתוכניות השינויים תוך בדיקת הצעות המחיר (ככל שיש) חוזה עם קבלן (ככל שיש) וכו'
      </label>
     
    </div>

    <div class="row">
      <label class="widthBig">סך תקציב השיפוץ (דוגמא להמחשה בלבד) :  </label><br />

      <table>
        <tr>
          <td class="widthBigBig">קבלן כולל אלומיניום חוץ</td>
          <td>250,000</td>
        </tr>
        <tr>
          <td class="widthBigBig">מיזוג - 6 מזגנים מפוצלים </td>
          <td>24,000</td>
        </tr>
        <tr>
          <td class="widthBigBig">  נגרות - מטבח + 11 ארונות </td>
          <td>100,000</td>
        </tr>
        <tr>
          <td class="widthBigBig">פרקט + עבודה  </td>
          <td>45,000</td>
        </tr>
         <tr>
           <td class="widthBigBig"> שטיח מקיר לקיר  </td>
          <td>100,000</td>
        </tr>
        <tr>
          <td class="widthBigBig">  אביזרי תאורה  </td>
          <td>8,000</td>
        </tr>
         <tr>
           <td class="widthBigBig">   אביזרי סניטציה  </td>
          <td>15,000</td>
        </tr>
         <tr>
           <td class="widthBigBig">   מעצבת   </td>
          <td>25,000</td>
        </tr>
         <tr>
           <td class="widthBigBig">   מהנדסים + אדריכל   </td>
          <td>5,000</td>
        </tr>
        <tr>
          <td class="widthBigBig">   שטיח מקיר לקיר   </td>
          <td>7,000</td>
        </tr>
         <tr>
          <td class="widthBigBig">   פרגולה   </td>
          <td>11,000</td>
        </tr>
          <tr>
            <td class="widthBigBig">   דלתות   </td>
          <td>10,000</td>
        </tr>
      </table>
      <!--<label class="widthBig">סך תקציב השיפוץ (דוגמא להמחשה בלבד) :  </label><br />
      <label class="widthBig">קבלן כולל אלומיניום חוץ                  </label><label class="space">250,000</label><br />
      <label class="widthBig">מיזוג - 6 מזגנים מפוצלים                 </label><label class="space">24,000</label><br />
      <label class="widthBig">                נגרות - מטבח + 11 ארונות </label><label class="space">100,000</label><br />
      <label class="widthBig">פרקט + עבודה                             </label><label class="space">45,000</label><br />
      <label class="widthBig">                  שטיח מקיר לקיר                           </label><label class="space">100,000</label><br />
      <label class="widthBig">                             אביזרי תאורה </label><label class="space">8,000</label><br />
      <label class="widthBig">אביזרי סניטציה </label><label class="space">15,000</label><br />
      <label class="widthBig">מעצבת </label><label class="space">25,000</label><br />
      <label class="widthBig">מהנדסים + אדריכל  </label><label class="space">5,000</label><br />
      <label class="widthBig">שטיח מקיר לקיר </label><label class="space">7,000</label><br />
      <label class="widthBig">פרגולה </label><label class="space">11,000</label><br />
      <label class="widthBig">דלתות </label><label class="space">10,000</label><br />-->

    </div>
  </div>
</form>
