.underLine {
  text-decoration: underline;
}

.centerDiv {
  direction: ltr;
  width: 60%;
  height: 100%;
  margin: auto;
}

span {
  font-size: large;
}

.link {
  cursor: pointer;
}

  .link:hover {
    color: #27b5e5;
  }
