<div class="centerDiv">
  <h1>
    SUBMIT A PROPOSAL FOR A SESSION OR A LECTURE AT THE 18TH WORLD CONGRESS OF JEWISH STUDIES
  </h1>
  <span> We strongly encourage the submission of proposals for complete sessions.
    A complete session at the Congress consists of</span><br />
  <span>A)	4 lectures or </span><br />
  <span>B)	3 lectures and a respondent </span>
  <span>and a session chair</span>
  <span>Lecturers may submit only one proposal and may lecture only ONCE during the Congress. In addition, they may serve as chairs of other sessions.</span><br />
  <span>Sessions may not be organized around recently published academic monographs.</span><br />
  <h2 class="underLine">Submit a Session</h2>
  <br />
  <h2 class="link"><a class="link" style="color:black;text-decoration: none" (click)="NavSession()">1.	CREATE A SESSION</a></h2>
  <br />
  <span>One of the lecturers or the session chair creates a session, providing </span><br />
  <span> [1] A session title in English and Hebrew (if possible)</span><br />
  <span> [2]A session abstract (up to 250 words) </span><br />
  <span> [3] Complete names and email addresses of all session participants, including the lecturers and the session chair </span><br />
  <span> [4] A session consist of four lectures or three lectures and a response</span><br />
  <span>, in addition to a session chair. If you cannot find four participants and a chair, you may apply with three lectures on the condition that the Academic Committee may add a fourth lecturer to the session.</span><br />
  <h2>2.	SESSION PARTICIPANTS SUBMIT LECTURE PROPOSALS</h2><br />
  <span>The participants of the created session receive a notification email with a link and are request to submit their lecture proposals.</span><br />
  <h2>Session Chair </h2><br />
  <span>•	The session chair is responsible to introduce the lecturers and manage the time frame of the session, as well as questions and comments from the audience. </span><br />
  <span>•	The respondent may serve as the session chair</span><br />
  <span>•	A person may serve as chair in more than one session, as long as this can be accommodated within the timetable of the Congress sessions.</span><br />
  <span>•	Session chairs are required to pay membership and Congress fees. </span><br />
  <h2 class="underLine"><a class="link underLine" style="color:black;text-decoration: none" (click)="NavSingle()">Proposals for Individual Papers</a></h2><br />
  <span>Lecturers may submit only one proposal. </span><br />
  <span>If you are not part of a pre-organized session, you may submit an individual paper. If accepted, the academic committee will add you to a session at its discretion. </span><br />
  <span>In order to submit a proposal for an individual paper, you will be asked to provide</span><br />
  <span>[1] A lcture title in English and Hebrew (if possible)</span><br />
  <span> [2]An abstract of your lecture (up to 250 words) </span><br />
  <span>[3] keywords </span><br />
  <br /><br /><br /><br />



</div>
