
<!-- <div style="background-color:#fff;height:150px;width:100%;">
  <div style="width:100%;border-bottom:1px solid;position:fixed;height:150px;background-color: white;z-index: 1000;top: 0;">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" style="position:fixed; top:20px;" />
    </div>
  </div>
</div> -->



<!-- <div class="containerDivGeneric">
  <div class="row">
    <img style="width:100%;" src="/assets/images/books.PNG" />
  </div>
</div> -->
<div class="body">

  <div style="background-color:#fff;height:158px;width:100%;">
    <div style="width:100%;position:fixed;height:158px;background-color: white;z-index: 1000;top: 0;">
      <div class="top-line">
        <div style="z-index: 1000;top: 0;">
          <div style="margin-left:64%;top:60px;position:fixed;"> 
            <span *ngIf="num!=0" class="right-cart-number" id="right-cart-num" data-spm-anchor-id="a2g0o.productlist.1000002.i0.14015a2cFC9YMg" (click)="NavigCart()">{{num}}</span>
            <img *ngIf="num!=0" style="width: fit-content; height: fit-content; cursor:pointer;" src="/assets/images/Cart_Number.png" (click)="NavigCart()" />
            <img *ngIf="num==0" style="width: fit-content; height: fit-content; cursor:pointer;" src="/assets/images/Cart.png" (click)="NavigCart()" />
        </div>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-12  marginAuto" style="display:flex;">
  <div class="col-md-3">
    <div data-thumb="/assets/images/book1.PNG" data-thumb-alt="" class="woocommerce-product-gallery__image" style="position: relative; overflow: hidden;">
      <img width="468px" height="558px" src={{DetailsBook.Image}} class="wp-post-image" alt="" title="modern_love_tee" data-caption="" data-large_image_width="500" data-large_image_height="650" sizes="(max-width: 500px) 100vw, 500px" /></div>

  </div>
  <div class="col-md-6 floatRight">

    <h1 style="font-family: 'Open Sans', sans-serif;font-weight: bold; font-size: 18px; color:#026fa7;">{{DetailsBook.Name}}</h1>
    <!-- <span  style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px;" (click)="Quantity=Quantity-1">-</label> </span>
    <span  style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px;">{{Quantity}}</label> </span>
    <span style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px;" (click)="Quantity=Quantity+1">+</label> </span>
     <br /><br />
     <span class="price" *ngIf="DetailsBook.SallePrice==0"><span>$</span>{{DetailsBook.Price}}</span>
     <span class="price" *ngIf="DetailsBook.SallePrice!=0" style=" text-decoration: line-through;margin-right:30px;"><span>$</span>{{DetailsBook.Price}}</span>
     <span class="price" *ngIf="DetailsBook.SallePrice!=0"><span>$</span>{{DetailsBook.SallePrice}}</span>
      -->
      <br /><br />
      <div class="row">
        <div style="margin-left: 15px;">
        <span class="price" *ngIf="DetailsBook.SallePrice==0"><span>$</span>{{DetailsBook.Price}}</span>
        <span class="price" *ngIf="DetailsBook.SallePrice!=0" style=" text-decoration: line-through;margin-right:30px;"><span>$</span>{{DetailsBook.Price}}</span>
        <span class="price" *ngIf="DetailsBook.SallePrice!=0"><span>$</span>{{DetailsBook.SallePrice}}</span>
        </div>
        <div  style="margin: 0; margin-left: 55px;">
          <span  style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;" (click)="Quantity=Quantity-1">-</label> </span>
         <span  style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;">{{Quantity}}</label> </span>
         <span  style="width:200px;text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;" (click)="Quantity=Quantity+1">+</label> </span>
         </div>
      </div>
        <br />
     <p style="font-size:medium;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px; color: #026fa7">{{DetailsBook.Details}}</p> 
     <button class="buy-btn" (click)="AddCart(DetailsBook)">Buy</button>
     <!-- <img class="icon-cart" src="/assets/images/icon-cart.png" /> -->
     <button  class="add-to-cart-btn" (click)="AddCart(DetailsBook)">Add to cart</button>
  <br/><br/>
</div>

</div>
</div>
