<div class="body">

  <div style="background-color:#fff;height:158px;width:100%;">
    <div style="width:100%;position:fixed;height:158px;background-color: white;z-index: 1000;top: 0;">
      <div class="top-line">
        <div style="z-index: 1000;top: 0;">
          <div style="margin-left:64%;top:60px;position:fixed;">
            <div class="tooltipSmall">
              <span *ngIf="num!=0" class="right-cart-number" id="right-cart-num" data-spm-anchor-id="a2g0o.productlist.1000002.i0.14015a2cFC9YMg">{{this.num}}</span>
              <img *ngIf="num!=0" style="width: fit-content; height: fit-content; cursor:pointer;" src="/assets/images/Cart_Number.png" />
              <img *ngIf="num==0" style="width: fit-content; height: fit-content; cursor:pointer;" src="/assets/images/Cart.png" />
              <mat-card class="tooltiptextSmall " style="background-color:white !important;top: 74px;right: 0; height: 508px !important;width: 370px!important;">
                <div class="col-md" style="margin:auto;display: flex;justify-content:space-around;">
                  <div>
                    <span class="span" class="shopping-cart-title"
                          style="direction: rtl !important; color:#026fa7; font-family:'Open Sans'
                    , sans-serif;font-weight: bold;font-size:20px;">{{num}}books in your cart</span>
                    <br />
                    <mat-divider style="left: 0; right: 0;margin: auto; width: 90%;"></mat-divider>
                    <br />
                  </div>
                </div>
                <div class="col-md" style="height: 65%;overflow-y: scroll; margin:auto;">
                  <div *ngFor="let item of DBShoppingCart; let i = index" style="position:relative; ">
                    <div>
                      <div style="display: flex;justify-content:space-around; padding-top:5%;">
                        <img class="col-md-4" src="{{item.ImageBook}}" style="width:65px;height:92px; " />
                        <span class="col-md-6" style="color: #026fa7;font-size:12px;font-family:'Open Sans', sans-serif;font-weight: normal; ">{{item.NameBook}} </span>
                        <span class="col-md-3" style="color: #026fa7;font-size:18px;font-family:'Open Sans', sans-serif;font-weight: normal">${{item.Total}}</span>
                      </div>
                      <br />
                      <mat-divider></mat-divider>
                    </div>
                  </div>
                </div>
                <div style="margin:auto;">
                  <div class="col-md" style="justify-content:space-around;z-index: 1000;margin:auto;background-color:#fff;">
                    <mat-divider style="left: 0; right: 0;margin: auto; width: 90%;"></mat-divider>
                    <div class="row" style="float: left;width: 370px; margin-top:5px;">
                      <div class="row" style="width: 370px;">
                        <label class="col-md-4" style="color: #000000;font-size:16px;font-family:'Open Sans', sans-serif;font-weight:bold;float: left; top: 10px;
                            padding-left: 39px; padding-bottom: 10px;">Total</label>
                        <label class="col-md-4" style="color: #000000;font-size:16px;font-family:'Open Sans', sans-serif;font-weight:bold;top: 10px;
                           padding-right: 0px; margin-left: 121px;float: right;">${{this.Total}}</label>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <!-- <button  class="view-cart-btn" (click)="NavigCart()"style="float: left;margin-right: 0; margin-right: 22px; width: 155px; padding-right: 0px; padding-left: 0; margin-left: 34px;" >VIEW/EDIT CART</button>    -->
                        <button class="fill-btn-blue checkout-btn" (click)="NavigCart()" style="    padding-right: 5px;
                          padding-left: 0;
                          float: right;
                          width: 155px;
                          margin-left: 212px;
                          height: 54px;">
                          CHECKOUT
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>

          </div>
        </div>
      </div>
    </div>
    <br />  <br />  <br />  <br />  <br /> <br />  <br />
    <div *ngIf="DetailsBook">

    <div class="col-md-12  marginAuto" style="display:flex;">
      <div class="col-md-3">
        <div data-thumb="/assets/images/book1.PNG" data-thumb-alt="" class="woocommerce-product-gallery__image" style="position: relative; overflow: hidden;">
          <img width="468px" height="558px" src={{DetailsBook.Image}} class="wp-post-image" alt="" title="modern_love_tee" data-caption="" data-large_image_width="500" data-large_image_height="650" sizes="(max-width: 500px) 100vw, 500px" />
        </div>

      </div>
      <div class="col-md-6 floatRight">

        <h1 style="font-family: 'Open Sans', sans-serif;font-weight: bold; font-size: 18px; color:#026fa7;">{{DetailsBook.Name}}</h1>
        <!-- <span  style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px;" (click)="Quantity=Quantity-1">-</label> </span>
        <span  style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px;">{{Quantity}}</label> </span>
        <span style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px;" (click)="Quantity=Quantity+1">+</label> </span>
         <br /><br />
         <span class="price" *ngIf="DetailsBook.SallePrice==0"><span>$</span>{{DetailsBook.Price}}</span>
         <span class="price" *ngIf="DetailsBook.SallePrice!=0" style=" text-decoration: line-through;margin-right:30px;"><span>$</span>{{DetailsBook.Price}}</span>
         <span class="price" *ngIf="DetailsBook.SallePrice!=0"><span>$</span>{{DetailsBook.SallePrice}}</span>
          -->
        <br /><br />
        <div class="row">
          <div style="margin-left: 15px;">
            <span class="price" *ngIf="DetailsBook.SallePrice==0"><span>$</span>{{DetailsBook.Price}}</span>
            <span class="price" *ngIf="DetailsBook.SallePrice!=0" style=" text-decoration: line-through;margin-right:30px;"><span>$</span>{{DetailsBook.Price}}</span>
            <span class="price" *ngIf="DetailsBook.SallePrice!=0"><span>$</span>{{DetailsBook.SallePrice}}</span>
          </div>
          <div style="margin: 0; margin-left: 55px;">
            <span style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;" (click)="Quantity>1 ? Quantity=Quantity-1:Quantity=1">-</label> </span>
            <span style="text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;">{{this.Quantity}}</label> </span>
            <span style="width:200px;text-align:center;"><label style="color: #494949;padding: 10px;border: 1px solid gray;" (click)="Quantity=Quantity+1">+</label> </span>
          </div>
        </div>
        <br />
        <p style="font-size:medium;font-family: 'Open Sans', sans-serif;font-weight: normal; font-size: 18px; color: #026fa7">{{DetailsBook.Details}}</p>
        <button class="buy-btn" (click)="NavigCart()">Buy</button>
        <!-- <img class="icon-cart" src="/assets/images/icon-cart.png" /> -->
        <button class="add-to-cart-btn" (click)="AddCart(DetailsBook)">Add to cart</button>
        <br /><br />
      </div>

    </div>
  </div>
  </div>