<br />
<div class="row" style="    padding-left: 12px;">

  <div class="clearfix"></div>
  <div class="col-md-7 backGray floatLeft ddiv" id="Back" style="margin-top:10%;direction: rtl;">
    <br />
    <h4 style="color:#27b5e5;text-align:right">
      Session participants
      <div class="tooltipSmall">
        <img src="/assets/images/TooltipIcon.png" />
        <span class="tooltiptextSmall" style="text-align:right;padding-left:2%;width:400px !important; height:200px !important;font-size: 0.975rem;">
          Please add the names and email addresses of all<br />
          the particlpants in your proposed session, <br />
          including yourself, preferably in the order you <br />
          would like their papers to be presented at the congress. <br />
          All participants will receive notification<br />
          by email that you submitted their names as part of this session.<br />
          The lecturers will receive instructions and a<br />
          link to submit their individual lecture proposals.
        </span>
      </div>




    </h4>


    <h6 style="color:#27b5e5;text-align:right">In the order you would like to be presented at the congress</h6>
    <h6 style="color:#27b5e5;text-align:right">Please mark the button next to your name. This will identify you as the person who submits the session.</h6>
    <br />
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerTC style="right: 1.8rem ">תואר</label>
      <label class="col-md-4  headerGray" #headerNC style="margin-right: 7%;text-align: right;">שם יו"ר: </label>
      <label class="col-md-4  headerGray" #headerEC style="text-align: right;margin-right: 5%;">אימייל:</label>
    </div>
    <div class="row ">
      <div class="custom-control custom-radio " (click)="onMe(5)">
        <input type="radio" class="custom-control-input" (click)="onMe(5)" id="5" name="5" value="4" #mechair>
        <label style="float:left;" class="custom-control-label"></label>
      </div>
      <select [(ngModel)]="TitleChair" style="direction: ltr;background:content-box;left: 0.8rem;margin-right: 2%; " (click)="focusTC()" (mouseleave)="unfocusTC()">
        <option value="Prof"> Prof </option>
        <option value="Dr"> Dr</option>
        <option value="Mr"> Mr  </option>
        <option value="Ms"> Ms </option>
      </select>
      <div class="col-md-5">
        <input (focusout)="unfocusNC()" (focus)="focusNC()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstNameChair" class="margLeft3" />
        <input (focusout)="unfocusNC()" (focus)="focusNC()" style="width:45%;" #testInput type="text" [(ngModel)]="LastNameChair" class="margLeft3" />
      </div>
      <input (focusout)="unfocusEC()" (focus)="focusEC()" #testInput type="text" [(ngModel)]="ChairmanEmail" class="margLeft3" />
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT1 style="right: 1.8rem ">תואר</label>

      <label class="col-md-4  headerGray" #headerN1 style="margin-right: 7%;text-align: right;">שם מרצה: </label>
      <label class="col-md-4  headerGray" #headerE1 style="text-align: right;margin-right: 5%;">אימייל: </label>
    </div>
    <div>
      <!--<div class="col-md-0.2">
        <div class="custom-control custom-radio " style="width:100%;">
          <input type="radio" class="custom-control-input" (change)="onMemberTypeChange(0)" id="ArrMembershipTypes[0].membershipType" name="memberType">
          <label style="float:left;" class="custom-control-label" for="ArrMembershipTypes[0].membershipType">{{ArrMembershipTypes[0].membershipType}}</label>
        </div>
      </div>-->
      <div class="row">
        <div class="custom-control custom-radio " (click)="onMe(1)">
          <input type="radio" class="custom-control-input" (change)="onMe(1)" id="1" name="1" #me1>
          <label style="float:left;" class="custom-control-label"></label>
        </div>
        <!--<div>-->
        <select [(ngModel)]="Title1" style="direction: ltr;background:content-box;margin-right: 2%;" (click)="focusT1()" (mouseleave)="unfocusT1()">
          <option value="Prof"> Prof </option>
          <option value="Dr"> Dr</option>
          <option value="Mr"> Mr  </option>
          <option value="Ms"> Ms </option>
        </select>

        <div class="col-md-5">
          <input (focusout)="unfocusN1()" (focus)="focusN1()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstName1" class="margLeft3" />
          <input (focusout)="unfocusN1()" (focus)="focusN1()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName1" class="margLeft3" />
        </div>
        <input (focusout)="unfocusE1()" (focus)="focusE1()" #testInput type="text" [(ngModel)]="Email1" class="margLeft3" />
        <!--</div>-->
      </div>
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT2 style="right: 1.8rem ">תואר</label>
      <label class="col-md-4  headerGray" #headerN2 style="margin-right: 7%;text-align: right;">שם מרצה: </label>
      <label class="col-md-4  headerGray" #headerE2 style="text-align: right;margin-right: 5%;">אימייל: </label>
    </div>
    <div class="row">
      <div class="custom-control custom-radio " (click)="onMe(2)">
        <input type="radio" class="custom-control-input" (change)="onMe(2)" id="2" name="2" #me2>
        <label style="float:left;" class="custom-control-label"></label>
      </div>

      <select [(ngModel)]="Title2" style="background:content-box;margin-right: 2%;direction: ltr;" (click)="focusT2()" (mouseleave)="unfocusT2()">
        <option value="Prof"> Prof </option>
        <option value="Dr"> Dr</option>
        <option value="Mr"> Mr  </option>
        <option value="Ms"> Ms </option>
      </select>
      <div class="col-md-5">
        <input (focusout)="unfocusN2()" (focus)="focusN2()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstName2" class="margLeft3" />
        <input (focusout)="unfocusN2()" (focus)="focusN2()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName2" class="margLeft3" />
      </div>
      <input (focusout)="unfocusE2()" (focus)="focusE2()" #testInput type="text" [(ngModel)]="Email2" class="margLeft3" />
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT3 style="right: 1.8rem ">תואר</label>
      <label class="col-md-4  headerGray" #headerN3 style="margin-right: 7%;text-align: right;;">שם מרצה: </label>
      <label class="col-md-4  headerGray" #headerE3 style="text-align: right;margin-right: 5%;">אימייל: </label>
    </div>
    <div class="row">
      <div class="custom-control custom-radio " (click)="onMe(3)">
        <input type="radio" class="custom-control-input" (change)="onMe(3)" id="3" name="3" #me3>
        <label style="float:left;" class="custom-control-label"></label>
      </div>
      <select [(ngModel)]="Title3" style="background:content-box;margin-right: 2%;direction: ltr;" (click)="focusT3()" (mouseleave)="unfocusT3()">
        <option value="Prof"> Prof </option>
        <option value="Dr"> Dr</option>
        <option value="Mr"> Mr  </option>
        <option value="Ms"> Ms </option>
      </select>

      <div class="col-md-5">
        <input (focusout)="unfocusN3()" (focus)="focusN3()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstName3" class="margLeft3" />
        <input (focusout)="unfocusN3()" (focus)="focusN3()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName3" class="margLeft3" />
      </div>
      <input (focusout)="unfocusE3()" (focus)="focusE3()" #testInput type="text" [(ngModel)]="Email3" class="margLeft3" />
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT4 style="right: 1.8rem ">תואר</label>
      <label class="col-md-4  headerGray " #headerN4 style="margin-right: 7%;text-align: right;">שם מרצה: </label>
      <label class="col-md-4  headerGray" #headerE4 style="text-align: right;margin-right: 5%;">אימייל: </label>
    </div>
    <div class="row ">
      <div class="custom-control custom-radio " (click)="onMe(4)">
        <input type="radio" class="custom-control-input" (change)="onMe(4)" id="4" name="4" #me4>
        <label style="float:left;" class="custom-control-label"></label>
      </div>
      <select [(ngModel)]="Title4" style="background:content-box;margin-right: 2%;direction: ltr;" (click)="focusT4()" (mouseleave)="unfocusT4()">
        <option value="Prof"> Prof </option>
        <option value="Dr4"> Dr</option>
        <option value="Mr4"> Mr  </option>
        <option value="Ms4"> Ms </option>
      </select>

      <div class="col-md-5">
        <input (focusout)="unfocusN4()" (focus)="focusN4()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstName4" class="margLeft3" />
        <input (focusout)="unfocusN4()" (focus)="focusN4()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName4" class="margLeft3" />
      </div>
      <input (focusout)="unfocusE4()" (focus)="focusE4()" #testInput type="text" [(ngModel)]="Email4" class="margLeft3" />
    </div>
    <br />    <br />
  </div>

  <div class="col-md-5" style="padding-left: 5%;text-align:right;direction: rtl;">
    <h3 style="color:#27b5e5;margin-top:10%;text-align:right">
      Submit a Session
      <div class="tooltip">
        <img src="/assets/images/TooltipIcon.png" />
        <span class="tooltiptext" style="text-align:left;padding-left:2%;">
          1. A session title in English and Hebrew (if possible)<br />
          2. A session abstract (up to 250 words)<br />
          3. Complete the  names and email addresses of all
          session participants including the lecturers
          and the session chairperson.<br />
          4. A session consists of four lectures or three
          lectures and response, in addition to a session
          chair. If you cannot find four particlpants and
          a chair, you may apply with three lectures on the
          condition that the academic committee may add
          a fourth lecture to the session.
        </span>
      </div>

    </h3>
    <br /><br />
    <div class="row margin-top6" style="padding-left: 13px;">
      <label class="headerGray" #headerEnglish>
        כותרת הרצאה [אנגלית]
        <div class="tooltipSmall">
          <img src="/assets/images/TooltipIcon.png" />
          <span class="tooltiptextSmall" style="text-align:left;padding-left:2%;height:200px!important;">
            Title in English (In the Latin American Jewry Section, titles may be submitted in <br />
            Spanish/Portuguese,  in the Ladino subdivision <br />
            the title may be submitted in Ladino)
          </span>
        </div>
      </label>
    </div>
    <div class="row margin-top6" style="padding-left: 13px;">
      <input #testInput type="text" [(ngModel)]="SessionNameEnglish" style="width:80%;" (focusout)="unfocusEnglish()" (focus)="focusEnglish()" />
    </div>
    <div class="colorFocus" style="padding-left: 13px;">
      <div class="row margin-top6">
        <label class="headerGray header" id="header" name="header" #headerHebrew>
          כותרת הרצאה [עברית]
          <div class="tooltipSmall">
            <img src="/assets/images/TooltipIcon.png" />
            <span class="tooltiptextSmall" style="text-align:left;padding-left:2%;">
              Title in Hebrew (In the Yiddish subdivision, <br />
              the title may be submitted in Yiddish with Hebrew Characters
            </span>
          </div>

        </label>
      </div>
      <div class="row margin-top6">
        <input #testInput type="text" class="input" [(ngModel)]="SessionName" style="width:80%;" (focusout)="unfocusHebrew()" (focus)="focusHebrew()" />
      </div>
    </div>
    <div class="row margin-top6 " style="padding-left: 13px;">
      <label class="headerGray" #headerDivision>חטיבה: </label>
    </div>
    <div class="row margin-top6" style="padding-left: 13px;">
      <select (click)="focusDivision()" (mouseleave)="unfocusDivision()" (change)="selectDivision($event.target.value)" [(ngModel)]="Division" style="background:none;width:80%;direction: ltr;">
        <option *ngFor="let Division of ArrDivision" [value]="Division">
          {{Division}}
        </option>
      </select>
    </div>
    <div class="row margin-top6" style="padding-left: 13px;">
      <label class="headerGray" #headerSubDiv>תת חטיבה : </label>
    </div>
    <div class="row margin-top6" style="padding-left: 13px;">
      <select (click)="focusSubDiv()" (mouseleave)="unfocusSubDiv()" [(ngModel)]="SubDivision" style="background:none;width:80%;direction: ltr;">
        <option *ngFor="let SubDivision of ArrSubDivision" [ngValue]="SubDivision">
          {{SubDivision}}
        </option>
      </select>
    </div>
    <div class="row margin-top6" style="padding-left: 13px;">
      <label class="headerGray" #headerAbs> תקציר הרצאה: {{NumWords}} </label>
    </div>
    <div class="row margin-top6" style="padding-left: 13px;">
      <textarea (keypress)="maxlength(ABS,250)" #testInput style="width:80%;height:97px;" (focusout)="unfocusAbs()" (focus)="focusAbs()" id="box_id" [(ngModel)]="ABS"></textarea>

    </div>

  </div>

  <!--<div class="clearfix"></div>
  <div class="clear"></div>-->


  <div class="col-md-12 margTop2" style="text-align:center;">
    <button (click)="SendInviteMember()" class="fill-btn-blue ">שלח</button>
  </div>
</div>
<br />    <br />

<div class="container-fluid" *ngIf="showErrEmpty">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal fade" data-backdrop="false" id="myModal" role="dialog" style="display:block;opacity:1!important;top: 14%!important;
    left: 22%!important;width:50% !important">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="showErrEmpty=!showErrEmpty">&times;</button>
            </div>
            <div class="modal-body">
              <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
                <div class="divERR col-md-5 marginAuto">
                  <br />
                  <h4>שגיאה</h4>
                  <br />  <label>אתה חייב למלא את כל השדות!</label>
                  <label *ngIf="RadioEmptyError">{{RadioEmptyError}}</label>
                  <br /><br />
                </div>
              </div>

              <br /><br /><br /><br /><br /><br />
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div><div class="container-fluid" *ngIf="errMoreThen250">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal fade" data-backdrop="false" id="myModal" role="dialog" style="display:block;opacity:1!important;top: 14%!important;
    left: 22%!important;width:50% !important">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="errMoreThen250=!errMoreThen250">&times;</button>
            </div>
            <div class="modal-body">
              <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
                <div class="divERR col-md-5 marginAuto">
                  <br />
                  <h4>שגיאה</h4>
                  <br />  <label>מצטערים, הזנת יותר מ- 250 מילים
                  </label>
                  <br /><br />
                </div>
              </div>

              <br /><br /><br /><br /><br /><br />
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<script>
  $("input").focus(function () {
    $("header").css("color", "#27b5e5").fadeOut(2000);
  });
</script>






