<div class="containerDivGeneric">
  <div class="col-md-8 marginAuto" style="margin-left:15%;">
    <div class="top-line">
      <!--<img class="logo-img" src="/assets/images/LogoHebrew.png" />-->
    </div>

    <!--<h4 class="header-border" style="display:none">THE 18TH WORLD CONGRESS OF JEWISH STUDIES</h4>-->
    <div>
      <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
        <div class="div col-md-5 marginAuto">
          <br />
          <h4>תודה רבה </h4>
          <br />  
          <br /> <label>שלחנו לך דוא"ל עם קישור לאיפוס סיסמה</label>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
