<div class="centerDiv">
  <h1>
    הגשת הצעות להרצאות ולמושבים בקונגרס העולמי השמונה-עשר למדעי היהדות
  </h1>
  <span>אנו ממליצים מאוד להגיש הצעות למושבים מובנים. הצעה למושב מובנה כוללת ארבע הרצאות או שלוש הרצאות ותגובה, ויו"ר. </span>
  <br />
  <span>ניתן להגיש הצעה אחת בלבד. כל משתתף רשאי לשאת הרצאה אחת בלבד במהלך הקונגרס, ובנוסף לשמש כיו"ר במושבים אחרים. </span>
  <br />
  <span>לא יתקבלו הצעות למושבים העוסקים בספר מחקר שפורסם לאחרונה. </span>
  <h2 class="underLine">הגשת הצעות למושבים</h2>
  <br />
  <h2 class="link"><a class="link" style="color:black;text-decoration: none" (click)="NavSession()" >1.	יצירת מושב</a></h2>
  <br />
  <span>הצעה למושב תוגש על ידי אחד ממשתתפי המושב. יש להכין הצעה הכוללת</span><br />
  <span> [1] כותרת המושב בעברית ובאנגלית</span><br />
  <span> [2] תקציר כללי עד 250 מילים</span><br />
  <span> [3] שמות מלאים וכתובות דוא"ל של המרצים/ות ושל היו"ר</span><br />
  <span> [4] כל מושב יכלול ארבע הרצאות או שלוש הרצאות ותגובה. </span><br />
  <span>באין ארבעה מרצים, ניתן להגיש הצעה של שלוש הרצאות. במקרה כזה יש להביא בחשבון שהוועדה האקדמית רשאית להוסיף מרצה רביעי/ת למושב.</span><br />
  <h2>2.	 הגשת הצעות להרצאה  במושב מובנה</h2><br />
  <span>אחרי הגשת ההצעה למושב יקבלו משתתפי המושב שהוגש הודעה לדוא"ל, ובה יתבקשו להגיש את הצעת ההרצאה. ניתן לעשות זאת לאחר ההרשמה באתר האיגוד העולמי למדעי היהדות. </span><br />
  <h2>יושב/ת ראש המושב</h2><br />
  <span>•	יו"ר המושב מציג/ה את המרצים ומנהל/ת את מסגרת הזמן של המושב, כולל שאלות והערות מהקהל.</span><br />
  <span>•	המגיב/ה יכול/ה לשמש יושב/ת ראש המושב.</span><br />
  <span>•	ניתן לשמש יושב ראש בכמה מושבים כל עוד הדבר מתאפשר מבחינת לוח הזמנים של מושבי הקונגרס.</span><br />
  <span>•	גם יו"ר שאינו מציג הרצאה משלו צריך לשלם דמי חברות בארגון ודמי הרשמה לקונגרס. </span><br />
  <h2 class="underLine"><a class="link underLine" style="color:black;text-decoration: none" (click)="NavSingle()" >הצעות להרצאות יחידות</a></h2><br />
  <span>ניתן להגיש הצעה להרצאה אחת. הוועדות האקדמיות ישבצו את ההרצאות שהתקבלו למושבים על פי שיקול דעתן. </span><br />
  <span>יש להכין הצעה הכוללת</span><br />
  <span> [1] כותרת ההרצאה בעברית ובאנגלית</span><br />
  <span> [2] תקציר כללי עד 300 מילים</span><br />
  <span> [3] שמות מלאים וכתובות דוא"ל של המרצים/ות ושל היו"ר</span><br />
  <span> [4] כל מושב יכלול ארבע הרצאות או שלוש הרצאות</span><br />
  <h2>תהליך הגשת הצעות יחידות</h2><br />
  <span>1.	כדי להגיש הצעה להרצאה יש להירשם באתר האיגוד העולמי למדעי היהדות. לאחר ההרשמה אפשר להיכנס לחשבון המשתמש באמצעות שם המשתמש והסיסמה.</span><br />
  <span>2.	לאחר ההרשמה ניתן להגיש הצעה להרצאה לקונגרס העולמי השמונה-עשר למדעי היהדות. </span><br />
  <h2>הערכת ההצעות</h2><br />
  <span>
    הוועדה האקדמית של האיגוד העולמי למדעי היהדות תדון בהצעות למושבים ולהרצאות יחידות.
    הודעות על החלטת הוועדה תישלחנה עד ראשית פברואר 2021.
  </span><br />
  <h2>דמי חבר ודמי השתתפות בקונגרס</h2><br />
  <h2>
    יש להקפיד להירשם ולשלם דמי חבר לאיגוד ודמי הרשמה לקונגרס עד לתאריך 28 בפברואר 2021.          רק מרצים שישלמו דמי חבר ודמי הרשמה לקונגרס עד למועד זה ייכללו בתוכנית הקונגרס.
  </h2><br />
  <span>תלמידים לתארים מתקדמים המחכים להודעות על מענקים לתשלום דמי החבר ודמי ההשתתפות בקונגרס מתבקשים להודיע לנו על כך לפני המועד האחרון לתשלום.</span><br />
  <br /><br /><br /><br />



</div>
