[override] center {
  position: sticky;
  margin: 150px;
}

.big {
  /*height: 20%;*/
  width: 15%;
  max-height: unset;
  overflow: hidden;
  font-size: large;
  /*min-height: 500px;*/
}

.centerA {
  width: 80%;
  /*height: 60%;*/
  margin: auto;
  top: 100px;
  left: 15%;
  position: fixed;
  /* background: white; */
  /*background-color: #ffffffc2;*/
  /* text-align:center;*/
  /*margin-left: 40px;*/
  /*font-size: large;*/
}

.marg10 {
  margin-bottom: 10px;
}
