<script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>

<div class="marginAuto col-md-10" style="margin-top: 30px;padding: 0;">

  <div class=" right">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
    </div>
  </div>
  <h4 class="header-border">THE 18TH WORLD CONGRESS JEWISH STUDIES</h4>
</div>

<br />
<div class="container-fluid">
  <div class="row" style="margin-left: 5%;">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-5"><br /><h5 style="color:#2eacd7">ALL LECTURE PROPOSALS</h5></div>
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <mat-form-field style="width:95%">
        <mat-label>All</mat-label>
        <mat-select (selectionChange)="SelectValues(field)" [(ngModel)]="field">
          <mat-option *ngFor="let field of Fields" [value]="field">
            {{field}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <label class="lable-line">|</label>
    <div class="col-md-2 padding-7">
      <form class="example-form" style="width:95%">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Search"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl">
        </mat-form-field>
      </form>
    </div>
    <mat-icon class="mat-icon-rtl-mirror Search-icon">search</mat-icon>
  </div>
</div>

<div class="container-fluid" style="position:absolute">
  <div class="row" style="margin-left: 5%;">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-11" style="padding:0">

      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Icon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">
            <img [src]="getImgIcon(element)" style="width: 39px;height: 39px;" class="di2" />
          </td>
        </ng-container>

        <ng-container matColumnDef="UserName">

          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="none" class="th-form-filter" name="filterSelectObj[0]" ngDefaultControl>
              <label class="lable-th" style="font-size: medium;"> Lecturer Name </label>
              <select style="color:#E8E8E8;" matNativeControl name="{{filterSelectObj[0].columnProp}}" [(ngModel)]="filterSelectObj[0].modelValue"
                      (change)="filterChange(filterSelectObj[0],$event)">
                <option style="color:#167c9f;" value="" mat-head er-cell>Lecturer Name</option>
                <option style="color:#167c9f;" mat-header-cell [value]="item" *ngFor="let item of filterSelectObj[0].options">{{item}}</option>
              </select>
            </mat-form-field>
            <!-- Lecture Name  -->
          </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstNameEnglish}} {{element.LastNameEnglish}}</td>
        </ng-container>

        <ng-container matColumnDef="Division">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="none" class="th-form-filter" name="filterSelectObj[1]" ngDefaultControl>
              <label class="lable-th"style="font-size: medium;">Division </label>
              <select style="color:#E8E8E8;" class="selects" id="SelectDiv" #SelectDiv matNativeControl name="{{filterSelectObj[1].columnProp}}" [(ngModel)]="filterSelectObj[1].modelValue"
                      (click)="ChangecolorBlueDiv()" (change)="filterChange(filterSelectObj[1],$event)">
                <option style="color:#167c9f;" value="" mat-header-cell>Division</option>
                <option style="color:#167c9f;" mat-header-cell [value]="" *ngFor="let item of filterSelectObj[1].options" style="color:#167c9f;">{{item}}</option>
              </select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Division}} </td>
        </ng-container>

        <ng-container matColumnDef="SubDivision">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="none" class="th-form-filter" name="filterSelectObj[1]" ngDefaultControl>
              <label class="lable-th" style="font-size: medium;">Sub Division </label>
              <select style="color:#E8E8E8;" matNativeControl name="{{filterSelectObj[2].columnProp}}" [(ngModel)]="filterSelectObj[2].modelValue"
                      (change)="filterChange(filterSelectObj[2],$event)">
                <option style="color:#167c9f;" value="" mat-header-cell>Sub Division</option>
                <option style="color:#167c9f;" mat-header-cell [value]="item" *ngFor="let item of filterSelectObj[2].options">{{item}}</option>
              </select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.SubDivision}} </td>
        </ng-container>

        <ng-container matColumnDef="SessionName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="none" class="th-form-filter" name="filterSelectObj[3]" ngDefaultControl>
              <label class="lable-th" style="font-size: medium;">Session Title </label>
              <select style="color:#E8E8E8;" matNativeControl name="{{filterSelectObj[3].columnProp}}" [(ngModel)]="filterSelectObj[3].modelValue"
                      (change)="filterChange(filterSelectObj[3],$event)">
                <option style="color:#167c9f;" value="" mat-header-cell>Session Title</option>
                <option style="color:#167c9f;" mat-header-cell [value]="item" *ngFor="let item of filterSelectObj[3].options">{{item}}</option>
              </select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element" style="padding-left: 10px;"> {{element.SessionName}} </td>
        </ng-container>

        <ng-container matColumnDef="TitleEnglish">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="none" class="th-form-filter" name="filterSelectObj[4]" ngDefaultControl>
              <label class="lable-th" style="font-size: medium;">Lecture Title </label>
              <select style="color:#E8E8E8;" matNativeControl name="{{filterSelectObj[4].columnProp}}" [(ngModel)]="filterSelectObj[4].modelValue"
                      (change)="filterChange(filterSelectObj[4],$event)">
                <option style="color:#167c9f;" value="" mat-header-cell>Lecture Title</option>
                <option style="color:#167c9f;" mat-header-cell [value]="item" *ngFor="let item of filterSelectObj[4].options">{{item}}</option>
              </select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.TitleEnglish}} </td>
        </ng-container>

        <ng-container matColumnDef="Language">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="none" class="th-form-filter" name="filterSelectObj[5]" ngDefaultControl>
              <label class="lable-th" style="font-size: medium;"> Language  </label>
              <select style="color:#E8E8E8;" matNativeControl name="{{filterSelectObj[5].columnProp}}" [(ngModel)]="filterSelectObj[5].modelValue"
                      (change)="filterChange(filterSelectObj[5],$event)">
                <option style="color:#167c9f;" value="" mat-header-cell> Language </option>
                <option style="color:#167c9f;" mat-header-cell [value]="item" *ngFor="let item of filterSelectObj[5].options">{{item}}</option>
              </select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Language}} </td>
        </ng-container>
         
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="none" class="th-form-filter" name="filterSelectObj[4]" ngDefaultControl>
              <label class="lable-th" style="font-size: medium;">Status </label>
              <select style="color:#E8E8E8;" matNativeControl name="{{filterSelectObj[6].columnProp}}" [(ngModel)]="filterSelectObj[6].modelValue"
                      (change)="filterChange(filterSelectObj[6],$event)">
                <option style="color:#167c9f;" value="" mat-header-cell>Status</option>
                <option style="color:#167c9f;" mat-header-cell [value]="item" *ngFor="let item of filterSelectObj[6].options">{{item}}</option>
              </select>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"><span class="{{element.Status}}"> {{element.Status}} </span></td>
        </ng-container>
        
        <ng-container matColumnDef="Review">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: medium;"> Review </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <!-- <img [src]="" onmouseout="this.src='/assets/images/Edit.jpg'" onmouseover="this.src='/assets/images/EditHover.jpg'" style="width: fit-content;height: 20px;" (click)="editProp(element)" class="di2" data-toggle="modal" data-target="#myModalPropSession" /> -->
            <!-- <button mat-button >:</button> -->
            <!-- <div class="hoverEdit">  -->
              <div style="cursor: pointer;" >
            <img [src]="over[i] ? '/assets/images/EditHover.jpg' : '/assets/images/Edit.jpg'"
                  (mouseover)="over[i] = true"
                  (mouseout)="over[i] = false"
                  *ngIf="element.SessionName==null " 
                  style="width: fit-content;margin: 11px 20px;" 
                  (click)="editProp(element)" 
                  class="di2"
                   data-toggle="modal"
                    data-target="#myModalPropSession" />
          <!-- </div> -->
          <!-- <div class="hoverEdit">  -->
             <img [src]="over[i] ? '/assets/images/EditHover.jpg' : '/assets/images/Edit.jpg'"
                  (mouseover)="over[i] = true"
                  (mouseout)="over[i] = false"
                  *ngIf="element.SessionName" 
                  style="width: fit-content;margin: 11px 20px;"
                  (click)="editProp(element)"
                   class="di2" 
                   data-toggle="modal" 
                   data-target="#myModalPropArrSession" />
                  </div>
           <!-- </div> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns | paginate: {itemsPerPage: size, currentPage: p, totalItems: dataSource.data.length};"></tr>
      </table>
      <!--<pagination-controls style="font-weight: bold;
    color: #167c9f;position:absolute;margin-top:10px;font-size: 12px;margin-left:60%;"previousLabel="" nextLabel="" (pageChange)="p = $event;pageChanged(p)" maxSize="5"></pagination-controls>-->

      <mat-paginator class="s-paginator" [pageSize]="10" [pageSizeOptions]="[10, 25, 50,100]" style="width:100%; float:left;">

      </mat-paginator>
      <!--<pagination-controls (pageChange)="p = $event;pageChanged(p)" maxSize="5"></pagination-controls>-->
    </div>
    <!--<div class="col-md-2"></div>-->
  </div>
</div>

<div class="container-fluid" *ngIf="isShowProp">
  <div class="row" >
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal fade" id="myModalPropSession" role="dialog">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="header-WithOut-border" style="margin: inherit;">EDIT LECTURE PROPOSAL</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row marginAuto">
                <span class="col-md-3 header-modal floatLeft bold">Lecturer name</span>
                <span class="col-md-3 header-modal floatLeft bold "> Lecture title [English]</span>
                <span class="col-md-3 header-modal floatLeft bold"> Lecture title [Hebrew]</span>
                <span class="col-md-3 header-modal floatLeft bold"> Lecture language</span>

              </div>
              <div class="row marginAuto">

                <span class="col-md-3 floatLeft">{{oneProp.FirstNameEnglish}}        {{oneProp.LastNameEnglish}}  </span>
                <span class="col-md-3 floatLeft ">{{oneProp.TitleEnglish}}</span>
                <span class="col-md-3 floatLeft">{{oneProp.TitleHebrew}}</span>
                <span class="col-md-3 floatLeft">{{oneProp.Language}}</span>
              </div>
              <div class="clear"></div>
              <br /><br /><br />
              <div class="row">
                <span class="col-md-6 header-modal floatLeft bold"> Lecture Abstract</span>
                <span class="col-md-6 header-modal floatLeft bold"> Keywords</span>
              </div>
              <div class="row">
                <span class="col-md-6 floatLeft">{{oneProp.Proposal}}</span>

                <span class="col-md-6 floatLeft">{{oneProp.Keywords}}</span>
              </div>
              <div class="clear"></div>
              <br /><br /><br />
              <div class="row marginAuto">
                <span class="col-md-1 header-modal floatLeft bold"> Division</span>
                <span class="col-md-4 floatLeft ">{{oneProp.Division}}</span>
                <span class="col-md-2 header-modal floatLeft bold"> SubDivision</span>
                <span class="col-md-4 floatLeft">{{oneProp.SubDivision}}</span>
              </div>
              <br /><br /><br />

              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="floatLeft txtStyle" style="text-align:left;">Change Division</span>
                    </div>
                    <div class="col-md-6">
                      <span class="floatLeft txtStyle" style="text-align:center;">Change Subdivision</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <select style="width:70%;" class="Non-Border-select" (change)="selectDivision($event.target.value)" #selectdiv [(ngModel)]="oneProp.Division">
                        <option *ngFor="let division of ArrDivision" [value]="division" name="division">
                          {{division}}
                        </option>
                      </select>

                    </div>
                    <div class="col-md-6">

                      <select style="width:70%;"  class="Non-Border-select" (selectionChange)="selectSubDivision($event.target.value)" [(ngModel)]="oneProp.SubDivision">
                        <option *ngFor="let subdivision of ArrSubDivision" [value]="subdivision" name="subdivision">
                          {{subdivision}}
                        </option>
                      </select>

                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <br /><br />
                      <span class="txtStyle bold">Comments</span>
                      <div class="form-group shadow-textarea" style="width:100% !important;height:100px !important">
                        <label for="exampleFormControlTextarea6"></label>
                        <textarea [(ngModel)]="oneProp.Remarks" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here...">{{oneProp.Remarks}}</textarea>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="shadow p-3 mb-5 bg-white rounded" style="width:90%">

                    <div class="modal-content " style="border:0;height:190px"  [(ngModel)]="Status" *ngIf="Status==='Accepted            '" >

                      <span class="txtStyle bold">Status</span>

                      <br />
                      <div class="custom-control custom-radio"  >
                        <input type="radio"
                        value="Accepted" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input"
                          id="Accepted" name="Accepted" checked #Accepted1>
                        <label class="custom-control-label"  for="Accepted">Accepted</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio">
                        <input type="radio" value="RR"  
                        (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="RR" name="RR" #RR1>
                        <label class="custom-control-label" for="RR">RR</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio" >
                        <input type="radio"   value="Rejected" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="Rejected" name="Rejected" #Rejected1>
                        <label class="custom-control-label" for="Rejected">Rejected</label>
                      </div>

                    </div>
                    <div class="modal-content " style="border:0;height:190px"  [(ngModel)]="Status" *ngIf="Status==='Rejected            '" >

                      <span class="txtStyle bold">Status</span>

                      <br />
                      <div class="custom-control custom-radio"  >
                        <input type="radio"
                        value="Accepted" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input"
                          id="Accepted" name="Accepted" #Accepted2>
                        <label class="custom-control-label"  for="Accepted">Accepted</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio">
                        <input type="radio" value="RR"  
                        (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="RR" name="RR" #RR2>
                        <label class="custom-control-label" for="RR">RR</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio" >
                        <input type="radio"   value="Rejected" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="Rejected" name="Rejected" checked #Rejected2>
                        <label class="custom-control-label" for="Rejected">Rejected</label>
                      </div>

                    </div>
                    <div class="modal-content " style="border:0;height:190px"  [(ngModel)]="Status" *ngIf="Status==='RR                  '" >

                      <span class="txtStyle bold">Status</span>

                      <br />
                      <div class="custom-control custom-radio"  >
                        <input type="radio"
                        value="Accepted" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input"
                          id="Accepted" name="Accepted" #Accepted3>
                        <label class="custom-control-label"  for="Accepted">Accepted</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio">
                        <input type="radio" value="RR"  
                        (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="RR" name="RR" checked #RR3>
                        <label class="custom-control-label" for="RR">RR</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio" >
                        <input type="radio"   value="Rejected" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="Rejected" name="Rejected"  #Rejected3>
                        <label class="custom-control-label" for="Rejected">Rejected</label>
                      </div>

                    </div> <div class="modal-content " style="border:0;height:190px"  [(ngModel)]="Status" *ngIf="Status==='Pending             '" >

                      <span class="txtStyle bold">Status</span>

                      <br />
                      <div class="custom-control custom-radio"  >
                        <input type="radio"
                        value="Accepted" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input"
                          id="Accepted" name="Accepted" #Accepted>
                        <label class="custom-control-label"  for="Accepted">Accepted</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio">
                        <input type="radio" value="RR"  
                        (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="RR" name="RR" #RR>
                        <label class="custom-control-label" for="RR">RR</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio" >
                        <input type="radio"   value="Rejected" 
                         (change)="onStatusChange($event.target.value)" 
                         class="custom-control-input" id="Rejected" name="Rejected"  #Rejected>
                        <label class="custom-control-label" for="Rejected">Rejected</label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div style="margin-left: 74%;padding-bottom:2%;">
                <button (click)="Save(this.oneProp)" class="fill-btn-blue" style="padding:10px" data-dismiss="modal">save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="container-fluid" *ngIf="isShowPropArrSession">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal fade" id="myModalPropArrSession" role="dialog">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="header-WithOut-border" style="margin: inherit;">PREVIW LECTURE PROPOSAL</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <br /><br />
              <div class="row marginAuto">
                <span class="col-md-8 header-modal floatLeft">
                  This lecture is part of pre organized session titled:
                  <span style="color:#167c9f;">{{SessionName}} |</span>
                  Chairperson: <span style="color:#167c9f;">{{Chairman}}</span>
                </span>
                <br />

              </div>
              <br /><span class="header-modal" style="color:#27b5e5"> Another lecturers in this session:</span>
              <div *ngFor="let name of names; let ii=index">
                <span style="color:#27b5e5">{{ii+1}}-</span><span>{{name}}</span><br />
              </div>
              <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let PropSession of this.ArrPropSession; let i=index">
                  <mat-expansion-panel-header>
                    <span class="header-modal">
                      {{i+1}} - Lecturer name: <span style="color:black;">{{PropSession.FirstNameEnglish}} {{PropSession.LastNameEnglish}}</span>
                    </span>
                  </mat-expansion-panel-header>

                  <div>

                    <div class="row marginAuto">
                      <span class="col-md-3 header-modal floatLeft bold">Lecturer name</span>
                      <span class="col-md-3 header-modal floatLeft bold"> Lecture title [English]</span>
                      <span class="col-md-3 header-modal floatLeft bold"> Lecture title [Hebrew]</span>
                      <span class="col-md-3 header-modal floatLeft bold"> Lecture language</span>
                    </div>

                    <div class="row marginAuto">
                      <span class="col-md-3 floatLeft">{{PropSession.FirstNameEnglish}}        {{PropSession.LastNameEnglish}}  </span>
                      <span class="col-md-3 floatLeft ">{{PropSession.TitleEnglish}}</span>
                      <span class="col-md-3 floatLeft">{{PropSession.TitleHebrew}}</span>
                      <span class="col-md-3 floatLeft">{{PropSession.Language}}</span>
                    </div>

                  </div>

                  <div class="clear"></div>
                  <br /><br /><br />
                  <div class="row">
                    <span class="col-md-6 header-modal floatLeft bold"> Lecture Abstract</span>
                    <span class="col-md-6 header-modal floatLeft bold"> Keywords</span>
                  </div>

                  <div class="row">
                    <span class="col-md-6 floatLeft">{{PropSession.Proposal}}</span>
                    <span class="col-md-6 floatLeft">{{PropSession.Keywords}}</span>
                  </div>

                  <div class="clear"></div>
                  <br /><br /><br />

                  <div class="row marginAuto">
                    <span class="col-md-1 header-modal floatLeft bold"> Division</span>
                    <span class="col-md-4 floatLeft">{{PropSession.Division}}</span>
                    <span class="col-md-2 header-modal floatLeft bold"> SubDivision</span>
                    <span class="col-md-4 floatLeft">{{PropSession.SubDivision}}</span>
                  </div>
                  <br /><br /><br />

                              <div class="row">

                                <div class="col-md-8">

                                  <div class="row">

                                    <div class="col-md-6">
                                      <span class="floatLeft txtStyle" style="text-align:left;">Change Division</span>
                                    </div>
                                    <div class="col-md-6">
                                      <span class="floatLeft txtStyle" style="text-align:center;">Change Subdivision</span>
                                    </div>
                                  </div>

                                  <div class="row">

                                    <div class="col-md-6">
                                      <select style="width:70%;" class="Non-Border-select" (change)="selectDivision($event.target.value)" #selectdiv [(ngModel)]="PropSession.Division">
                                        <option *ngFor="let division of ArrDivision" [value]="division">
                                          {{division}}
                                        </option>
                                      </select>
                                    </div>

                                    <div class="col-md-6">

                                      <select id="selectSsub" style="width:70%;" class="Non-Border-select" (selectionChange)="selectSubDivision($event.target.value)" [(ngModel)]="PropSession.SubDivision">
                                        <!-- <option [value]="subdivision" selected>{{subdivision}}</option> -->
                                        <option *ngFor="let subdivision of ArrSubDivision" [value]="subdivision">
                                          {{subdivision}}
                                        </option>
                                      </select>
                                    </div>

                                  </div>

                                  <div class="row">
                                    <div class="col-md-12">
                                      <br /><br />
                                      <span class="txtStyle bold">Comments</span>
                                      <div class="form-group shadow-textarea" style="width:100% !important;height:100px !important">
                                        <label for="exampleFormControlTextarea6"></label>
                                        <textarea [(ngModel)]="PropSession.Remarks" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here...">{{PropSession.Remarks}}</textarea>
                                      </div>
                                    </div>
                                  </div>

                                </div>                                      <label>{{PropSession.Status}}</label>

                                <!--<div class="col-md-3">
                                  <div class="shadow p-3 mb-5 bg-white rounded" style="width:90%">

                                    <div class="modal-content " style="border:0;height:190px" [(ngModel)]="Status" *ngIf="PropSession.Status==='Accepted            '">

                                      <span class="txtStyle bold">Status</span>

                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio"
                                               value="Accepted"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input"
                                               id="Accepted" name="Accepted" checked #Accepteds1>
                                        <label class="custom-control-label" for="Accepted">Accepted</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="RR"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input" id="RR" name="RR" #RRs1>
                                        <label class="custom-control-label" for="RR">RR</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="Rejected"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input" id="Rejected" name="Rejected" #Rejecteds1>
                                        <label class="custom-control-label" for="Rejected">Rejected</label>
                                      </div>

                                    </div>
                                    <div class="modal-content " style="border:0;height:190px" [(ngModel)]="Status" *ngIf="PropSession.Status==='Rejected            '">

                                      <span class="txtStyle bold">Status</span>

                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio"
                                               value="Accepted"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input"
                                               id="Accepted" name="Accepted" #Accepteds2>
                                        <label class="custom-control-label" for="Accepted">Accepted</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="RR"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input" id="RR" name="RR" #RRs2>
                                        <label class="custom-control-label" for="RR">RR</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="Rejected"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input" id="Rejected" name="Rejected" checked #Rejecteds2>
                                        <label class="custom-control-label" for="Rejected">Rejected</label>
                                      </div>

                                    </div>
                                    <div class="modal-content " style="border:0;height:190px" [(ngModel)]="Status" *ngIf="PropSession.Status==='RR                  '">

                                      <span class="txtStyle bold">Status</span>

                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio"
                                               value="Accepted"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input"
                                               id="Accepted" name="Accepted" #Accepteds3>
                                        <label class="custom-control-label" for="Accepted">Accepted</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="RR"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input" id="RR" name="RR" checked #RRs3>
                                        <label class="custom-control-label" for="RR">RR</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="Rejected"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input" id="Rejected" name="Rejected" #Rejecteds3>
                                        <label class="custom-control-label" for="Rejected">Rejected</label>
                                      </div>

                                    </div> <div class="modal-content " style="border:0;height:190px" *ngIf="PropSession.Status==='Pending             '">

                                      <span class="txtStyle bold">Status</span>

                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio"
                                               value="Accepted"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input"
                                               id="Accepted" name="Accepted" #Accepteds>
                                        <label class="custom-control-label" for="Accepted">Accepted</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="RR"
                                               (change)="onStatusChange($event.target.value,PropSession)"
                                               class="custom-control-input" id="RR" name="RR" #RRs>
                                        <label class="custom-control-label" for="RR">RR</label>
                                      </div>
                                      <br />
                                      <div class="custom-control custom-radio">
                                        <input type="radio" value="Rejected"
                                               (change)="onStatusChanges($event.target.value,PropSession)"
                                               class="custom-control-input" id="Rejected" name="Rejected" #Rejecteds>
                                        <label class="custom-control-label" for="Rejected">Rejected</label>
                                      </div>

                                    </div>
                                  </div>
                                </div>-->

                                <div class="col-md-3">
                                  <div class="shadow p-3 mb-5 bg-white rounded" style="width:90%">
                                    <div class="modal-content " style="border:0;height:190px">
                                      <span class="txtStyle bold">Status</span>
                                      <label>{{PropSession.Status}}</label>
                                      <br />
                                      <div class="custom-control custom-radio" (change)="onStatusPropSessionChangeA(PropSession)"
                                               (click)="onStatusPropSessionChangeA(PropSession)">
                                        <input type="radio" value="Accepted"
                                               (change)="onStatusPropSessionChangeA(PropSession)"
                                               (click)="onStatusPropSessionChangeA(PropSession)"
                                               #Accepteds name="Accepteds" id="Accepteds"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="Accepted">Accepted</label>
                                      </div>
                                      <!--<div class="custom-control custom-radio" (click)="onStatusPropSessionChangeA(PropSession)" #Accepteds name="Accepteds" id="Accepteds">


  -->
                                      <br />
                                      <div class="custom-control custom-radio"(change)="onStatusPropSessionChangeRR(PropSession)"
                                               (click)="onStatusPropSessionChangeRR(PropSession)">

                                        <input type="radio" value="RR"
                                               (change)="onStatusPropSessionChangeRR(PropSession)"
                                               (click)="onStatusPropSessionChangeRR(PropSession)"
                                               #RRs name="RRs" id="RRs"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="RR">RR</label>
                                      </div>
                                        <!--<div class="custom-control custom-radio" (click)="onStatusPropSessionChangeRR(PropSession)" #RRs name="RRs" id="RRs">

  </div>-->
                                        <br />
                                        <div class="custom-control custom-radio" (change)="onStatusPropSessionChangeR(PropSession)"
                                                  (click)="onStatusPropSessionChangeR(PropSession)">

                                          <input type="radio" value="Rejected"
                                                 (change)="onStatusPropSessionChangeR(PropSession)"
                                                  (click)="onStatusPropSessionChangeR(PropSession)"
                                                 #Rejecteds name="Rejecteds" id="Rejecteds"
                                                 class="custom-control-input">
                                          <label class="custom-control-label" for="Rejected">Rejected</label>
                                        </div>
                                          <!--<div class="custom-control custom-radio" (click)="onStatusPropSessionChangeR(PropSession)" #Rejecteds name="Rejecteds" id="Rejecteds">

    </div>-->
                                        </div>
                                      </div>
                                </div>

                                <div style="margin-left: 85%;padding-bottom:2%;">
                
                                  <button (click)="SavePropSession(PropSession)" class="fill-btn-blue" style="padding:10px" data-dismiss="modal">save</button>
                                </div>
                              </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            </div>
        </div>
      </div>
    </div>
   </div>
</div>
              <script>
                 $("#SelectDiv").click(function() {
                     alert("Text marked!");
                  });
              </script>
