<div class="marginAuto col-md-8">

  <div class=" right">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
    </div>
  </div>
  <h4 class="header-border">THE 18TH WORLD CONGRESS JEWISH STUDIES</h4>
</div>

<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5"><br /><h5 style="color:#2eacd7">ALL LECTURE PROPOSALS</h5></div>
    <div class="col-md-1">
      <mat-form-field style="width:95%">
        <mat-label>All</mat-label>
        <mat-select (selectionChange)="SelectField()" [(ngModel)]="field">
          <mat-option *ngFor="let field of Fields" [value]="field">
            {{field}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <form class="example-form" style="width:95%">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Search"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl">

        </mat-form-field>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="container-fluid" style="position:absolute">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>tzipora </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstNameEnglish}} {{element.LastNameEnglish}}</td>
        </ng-container>

        <ng-container matColumnDef="Division">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Division}} </td>
        </ng-container>

        <ng-container matColumnDef="SubDivision">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Division </th>
          <td mat-cell *matCellDef="let element"> {{element.SubDivision}} </td>
        </ng-container>

        <ng-container matColumnDef="TitleEnglish">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lecture Title </th>
          <td mat-cell *matCellDef="let element"> {{element.TitleEnglish}} </td>
        </ng-container>

        <ng-container matColumnDef="SessionName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Session Title </th>
          <td mat-cell *matCellDef="let element"> {{element.SessionName}} </td>
        </ng-container>

        <ng-container matColumnDef="Language">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
          <td mat-cell *matCellDef="let element"> {{element.Language}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"><span class="{{element.Status}}"> {{element.Status}} </span></td>
        </ng-container>

        <ng-container matColumnDef="Review">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Review </th>
          <td mat-cell *matCellDef="let element">
            <img src="/assets/images/edit.png" style="width: 20px;height: 20px;" (click)="editProp(element)" class="di2" data-toggle="modal" data-target="#myModal" />
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50,100]">
      </mat-paginator>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="container-fluid" *ngIf="isShowProp">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="header-WithOut-border" style="margin: inherit;">EDIT LECTURE PROPOSAL</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row marginAuto">
                <span class="col-md-3 header-modal floatLeft">Lecture name</span>
                <span class="col-md-3 header-modal floatLeft"> Lecture title [English]</span>
                <span class="col-md-3 header-modal floatLeft"> Lecture title [Hebrew]</span>
                <span class="col-md-3 header-modal floatLeft"> Lecture language</span>

              </div>
              <div class="row marginAuto">

                <span class="col-md-3 floatLeft">{{oneProp.FirstNameEnglish}}        {{oneProp.LastNameEnglish}}  </span>
                <span class="col-md-3 floatLeft ">{{oneProp.TitleEnglish}}</span>
                <span class="col-md-3 floatLeft">{{oneProp.TitleHebrew}}</span>
                <span class="col-md-3 floatLeft">{{oneProp.Language}}</span>
              </div>
              <div class="clear"></div>
              <br /><br /><br />
              <div class="row">
                <span class="col-md-6 header-modal floatLeft"> Lecture Abstract</span>
                <span class="col-md-6 header-modal floatLeft"> Keywords</span>
              </div>
              <div class="row">
                <span class="col-md-6 floatLeft">{{oneProp.Proposal}}</span>

                <span class="col-md-6 floatLeft">{{oneProp.Keywords}}</span>
              </div>
              <div class="clear"></div>
              <br /><br /><br />
              <div class="row marginAuto">
                <span class="col-md-1 header-modal floatLeft"> Division</span>
                <span class="col-md-4 floatLeft">{{oneProp.Division}}</span>
                <span class="col-md-2 header-modal floatLeft"> SubDivision</span>
                <span class="col-md-4 floatLeft">{{oneProp.SubDivision}}</span>
              </div>
              <br /><br /><br />

              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="floatLeft txtStyle" style="text-align:left;">Change Division</span>
                    </div>
                    <div class="col-md-6">
                      <span class="floatLeft txtStyle" style="text-align:center;">Change Subdivision</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <select style="width:70%;" class="Non-Border-select" (selectionChange)="selectDivision($event.target.value)" #selectdiv [(ngModel)]="Division">
                        <option *ngFor="let division of ArrDivision" [value]="division">
                          {{division}}
                        </option>
                      </select>

                    </div>
                    <div class="col-md-6">

                      <select style="width:70%;" class="Non-Border-select" [(ngModel)]="subdivision">
                        <option *ngFor="let subdivision of ArrSubDivision" [value]="subdivision">
                          {{subdivision}}
                        </option>
                      </select>

                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <br /><br />
                      <span class="txtStyle">Comments</span>
                      <div class="form-group shadow-textarea" style="width:100% !important;height:100px !important">
                        <label for="exampleFormControlTextarea6"></label>
                        <textarea [(ngModel)]="oneProp.Remarks" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here...">{{oneProp.Remarks}}</textarea>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="shadow p-3 mb-5 bg-white rounded" style="width:90%">

                    <div class="modal-content " style="border:0;height:190px">

                      <span class="txtStyle">Status</span>

                      <br />
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="statusAccepted" name="status">
                        <label class="custom-control-label" for="statusAccepted">Accepted</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="statusPending" name="status">
                        <label class="custom-control-label" for="statusPending">RR</label>
                      </div>
                      <br />
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="statusRejected" name="status">
                        <label class="custom-control-label" for="statusRejected">Rejected</label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div style="margin-left: 74%;padding-bottom:2%;">
                <button (click)="Save()" class="fill-btn-blue" style="padding:10px" data-dismiss="modal">save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


<div class="container-fluid" *ngIf="isShowPropArrSession">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="header-WithOut-border" style="margin: inherit;">PREVIW LECTURE PROPOSAL</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <br /><br />
              <div class="row marginAuto">
                <span class="col-md-8 header-modal floatLeft">
                  This lecture is part of pre organized session titled:
                  <span style="color:#167c9f;">{{this.SessionName}} |</span>
                  Chairperson: <span style="color:#167c9f;">{{this.Chairman}}</span>
                </span>
              </div>
              <br />

              <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let PropSession of this.ArrPropSession; let i=index">
                  <mat-expansion-panel-header>
                    <span class="header-modal">
                      {{i+1}} - Lecturer name: <span style="color:black;">{{PropSession.FirstNameEnglish}} {{PropSession.LastNameEnglish}}</span>
                    </span>
                  </mat-expansion-panel-header>

                  <div>

                    <div class="row marginAuto">
                      <span class="col-md-3 header-modal floatLeft">Lecture name</span>
                      <span class="col-md-3 header-modal floatLeft"> Lecture title [English]</span>
                      <span class="col-md-3 header-modal floatLeft"> Lecture title [Hebrew]</span>
                      <span class="col-md-3 header-modal floatLeft"> Lecture language</span>
                    </div>

                    <div class="row marginAuto">
                      <span class="col-md-3 floatLeft">{{PropSession.FirstNameEnglish}}        {{PropSession.LastNameEnglish}}  </span>
                      <span class="col-md-3 floatLeft ">{{PropSession.TitleEnglish}}</span>
                      <span class="col-md-3 floatLeft">{{PropSession.TitleHebrew}}</span>
                      <span class="col-md-3 floatLeft">{{PropSession.Language}}</span>
                    </div>

                  </div>

                  <div class="clear"></div>
                  <br /><br /><br />
                  <div class="row">
                    <span class="col-md-6 header-modal floatLeft"> Lecture Abstract</span>
                    <span class="col-md-6 header-modal floatLeft"> Keywords</span>
                  </div>

                  <div class="row">
                    <span class="col-md-6 floatLeft">{{PropSession.Proposal}}</span>
                    <span class="col-md-6 floatLeft">{{PropSession.Keywords}}</span>
                  </div>

                  <div class="clear"></div>
                  <br /><br /><br />

                  <div class="row marginAuto">
                    <span class="col-md-1 header-modal floatLeft"> Division</span>
                    <span class="col-md-4 floatLeft">{{PropSession.Division}}</span>
                    <span class="col-md-2 header-modal floatLeft"> SubDivision</span>
                    <span class="col-md-4 floatLeft">{{PropSession.SubDivision}}</span>
                  </div>
                  <br /><br /><br />

                  <div class="row">

                    <div class="col-md-8">

                      <div class="row">

                        <div class="col-md-6">
                          <span class="floatLeft txtStyle" style="text-align:left;">Change Division</span>
                        </div>
                        <div class="col-md-6">
                          <span class="floatLeft txtStyle" style="text-align:center;">Change Subdivision</span>
                        </div>
                      </div>

                      <div class="row">

                        <div class="col-md-6">
                          <select style="width:70%;" class="Non-Border-select" (selectionChange)="selectDivision($event.target.value)" #selectdiv [(ngModel)]="Division">
                            <option *ngFor="let division of ArrDivision" [value]="division">
                              {{division}}
                            </option>
                          </select>
                        </div>

                        <div class="col-md-6">
                          <select style="width:70%;" class="Non-Border-select" [(ngModel)]="subdivision">
                            <option *ngFor="let subdivision of ArrSubDivision" [value]="subdivision">
                              {{subdivision}}
                            </option>
                          </select>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <br /><br />
                          <span class="txtStyle">Comments</span>
                          <div class="form-group shadow-textarea" style="width:100% !important;height:100px !important">
                            <label for="exampleFormControlTextarea6"></label>
                            <textarea [(ngModel)]="PropSession.Remarks" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here...">{{PropSession.Remarks}}</textarea>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-3">
                      <div class="shadow p-3 mb-5 bg-white rounded" style="width:90%">

                        <div class="modal-content " style="border:0;height:190px">

                          <span class="txtStyle">Status</span>

                          <br />
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="statusAccepted" name="status">
                            <label class="custom-control-label" for="statusAccepted">Accepted</label>
                          </div>
                          <br />
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="statusPending" name="status">
                            <label class="custom-control-label" for="statusPending">RR</label>
                          </div>
                          <br />
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="statusRejected" name="status">
                            <label class="custom-control-label" for="statusRejected">Rejected</label>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div style="margin-left: 85%;padding-bottom:2%;">
                      <button (click)="SavePropSession(PropSession)" class="fill-btn-blue" style="padding:10px" data-dismiss="modal">save</button>
                    </div>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


