<div>
  <div class="col-md-12 marginAuto" style="max-width:1190px">
    <br />

    <div class="marginAuto col-md-12" style="float:right;padding-right: 0 !important;">

      <div class=" right">
        <div class="top-line" style="padding-left: 75%;">
          <img class="logo-img" src="/assets/images/LogoHebrew.png" />
        </div>
      </div>
      <h4 class="header-border" style="text-align:right;">THE 18TH WORLD CONGRESS JEWISH STUDIES</h4>
    </div>
    <div>
      <br />
      <app-invite-members-hebrew class="app-invite"></app-invite-members-hebrew>
    </div>
  </div>
</div>
