
<div style="overflow-y:scroll;" >
    <div class="container right">
      <div class="top-line">
        <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
      </div>
    </div>
    <div class="big">
      <br /><br /><br />
      <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
          <ul class="nav navbar-nav" routerLinkActive="active" style="list-style: none;">
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/">Registration</a></li>
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/AllProposalsAdmin">All proposals</a></li>
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/Drafts">All drafts not saved</a></li>
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/Judges">Judges</a></li>
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/RegistrationOneEnglish">Proposal - single (English)</a></li>
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/RegistrationOneHebrew">Proposal - single (Hebrew)</a></li>
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/CongressRegistrationSession">Proposal - Session (English)</a></li>
            <li class="nav-item marg10"><a class="nav-link" style="color:black;text-decoration: none" routerLink="/CongressRegistrationSessionHebrew">Proposal - Session (Hebrew)</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="centerA">
      <br /><br /><br /><br /><br /><br /><br /><br />

      <div class="centerB">
        <app-congress-registration-one-hebrew class="centerB centerHebrewSession" style="position: relative;"></app-congress-registration-one-hebrew>
      </div>
      <app-invite-members-hebrew></app-invite-members-hebrew>
    </div>
  
</div>
