
<div class="col-md-12 marginAuto" style="max-width:1190px">
  <br />
  <div class="marginAuto col-md-12" style="float:left;padding-left: 0 !important;">

    <div class=" right">
      <div class="top-line">
        <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
      </div>
    </div>
    <h4 class="header-border">THE 18TH WORLD CONGRESS JEWISH STUDIES</h4>
  </div>
  <div class="col-md-12 marginAuto" >

    <div>
      <br />
      <div class="containerDivGeneric">
        <div class="col-md-12" style="padding-left: 0% !important;">
          <h3 style="color:#27b5e5;margin-top:15%;">PROPOSED LECTURE IN ASTRUCTURED SESSION</h3>
          <div class="backGray col-md-12">
            <br />
            <div class="row margin-top" style="margin-left:1%">
              <label class="col-md-1 headerGray" #title>Title</label>
              <label class="col-md-3 headerGray" #namee>Full Name [English]</label>
              <label class="col-md-3 headerGray" #nameh>
                Full Name [Hebrew]
                <div class="tooltipSmall">
                  <img src="/assets/images/TooltipIcon.png" />
                  <span class="tooltiptextSmall" style="text-align:left;padding-left:2%;">
                    Not mandatory for<br />
                    English speakers<br />
                  </span>
                </div>
              </label>
              <label class="col-md-4 floatLeft headerGray" #email>Email</label>
            </div>
            <div class="row margin-top" style="margin-left:1%">
              <!--  <label  > </label>-->
              <select class="col-md-1" style="background:content-box;" (click)="focustitle()" (mouseleave)="unfocustitle()">
                <option [value]="Division" selected>{{Title}}</option>
                <option *ngFor="let tit of ArrTitle" [value]="tit">
                  {{tit}}
                </option>
              </select>
              <div class="col-md-3">
                <input (focusout)="unfocusnamee()" (focus)="focusnamee()" type="text" value="{{FirstName}}" [(ngModel)]="FirstName" style="width:45%;" />
                <input (focusout)="unfocusnamee()" (focus)="focusnamee()" type="text" value="{{LastName}}" [(ngModel)]="LastName" style="width:45%;margin-left:2%;" />
              </div>
              <div class="col-md-3">
                <input (focusout)="unfocusnameh()" (focus)="focusnameh ()" type="text" value="{{FirstNameHebrew}}" [(ngModel)]="FirstNameHebrew" style="width:45%;" />
                <input (focusout)="unfocusnameh()" (focus)="focusnameh ()" type="text" value="{{LastNameHebrew}}" [(ngModel)]="LastNameHebrew" style="width:45%;margin-left:2%;" />
              </div>
              <!--</div>-->
              <div class="col-md-4 floatLeft" style="text-align:right;">
                <input type="text" value="{{LoginUserName}}" style="width:100%;" (focusout)="unfocusemail()" (focus)="focusemail()" />
              </div>

              <div class="row margin-top col-md-12">
                <label class="col-md-6 headerGray" #div>Division</label>
                <label #subdiv class="col-md-5  headerGray" style="margin-left:7%;">Subdivision</label>
              </div>
              <div class="row margin-top col-md-12">
                <div class="col-md-6" style="padding-left: 0 !important;">
                  <select (click)="focusdiv()" (mouseleave)="unfocusdiv()" *ngIf="showLikeProp==false" style="width:80%;background:content-box;width:90%" #t (change)="selectDivision($event.target.value)" [(ngModel)]="Division">
                    <option [value]="Division" selected>{{Division}}</option>
                    <option *ngFor="let Division of ArrDivision" [value]="Division">
                      {{Division}}
                    </option>
                  </select>
                  <label *ngIf="showLikeProp==true" style="width:80%"> {{Division}}</label>
                </div>
                <div class="col-md-6" style="text-align:right; ">
                  <select (click)="focussubdiv()" (mouseleave)="unfocussubdiv()" *ngIf="showLikeProp==false" style="width:80%;background: content-box;width:85%" #t (change)="selectSubDivision($event.target.value)" [(ngModel)]="SubDivision">
                    <option [value]="SubDivision" selected>{{SubDivision}}</option>
                    <option *ngFor="let SubDivision of ArrSubDivision" [value]="SubDivision">
                      {{SubDivision}}
                    </option>
                  </select>
                  <label *ngIf="showLikeProp==true" style="width:80%;display: inline-flex;"> {{SubDivision}}</label>

                </div>

              </div>
            </div>
            <br /><br />
          </div>
          <br /><br />
          <div class="row margin-top">
            <label class="col-md-6 headerGray" #english>Lecture title [English]</label>
            <label class="col-md-5 headerGray" #academic style="margin-left:8%;">Academic Affiliation</label>
          </div>
          <div class="row margin-top">
            <div class="col-md-6">
              <input style="width:80%;" (focusout)="unfocusenglish()" (focus)="focusenglish()" type="text" [(ngModel)]="TitleEnglish" *ngIf="showLikeProp==false" />
              <label style="width:80%;" *ngIf="showLikeProp==true">{{TitleEnglish}}</label>
            </div>
            <div class="col-md-6">
              <input (focusout)="unfocusacademic()" (focus)="focusacademic()" type="text" style="margin-left:18%;width:80%;" *ngIf="showLikeProp==false" />
              <label style="margin-left:18%;width:80%;" *ngIf="showLikeProp==true"></label>
            </div>
          </div>
          <div class="row margin-top">
            <label class="col-md-6 headerGray" #hebrew>Lecture title [Hebrew ]</label>
            <label class="col-md-5 floatLeft headerGray" #lang style="margin-left:8%;">Lecture language</label>
          </div>
          <div class="row margin-top">
            <div class="col-md-6">
              <input style="width:80%" (focusout)="unfocushebrew()" (focus)="focushebrew()" type="text" [(ngModel)]="TitleHebrew" *ngIf="showLikeProp==false" />
              <label style="width:80%" *ngIf="showLikeProp==true">{{TitleHebrew}}</label>
            </div>
            <div class="col-md-6">
              <select (click)="focuslang()" (mouseleave)="unfocuslang()" #t (change)="selectlang($event.target.value)" [(ngModel)]="Language" *ngIf="showLikeProp==false" style="margin-left:18%;width:80%;">
                <option [value]="Language" selected>{{Language}}</option>
                <option *ngFor="let Language of ArrLanguage" [value]="Language">
                  {{Language}}
                </option>
              </select>
              <label style="margin-left:18%;width:80%;" class="col-md-3" *ngIf="showLikeProp==true">{{Language}}</label>
            </div>
          </div>
          <div class="row margin-top">
            <label class="col-md-6 headerGray" #abs>Abstract</label>
            <label class="col-md-5 floatLeft  headerGray" #key style="margin-left:8%;">Keywords</label>
          </div>
          <div class="row margin-top">
            <div class="col-md-6">
              <textarea (focusout)="unfocusabs()" (focus)="focusabs()" *ngIf="showLikeProp==false" [(ngModel)]="Proposal" style="width:80%;height:97px;"></textarea>
              <label *ngIf="showLikeProp==true" style="width:80%;">{{Proposal}}</label>
            </div>
            <div class="col-md-6">
              <textarea (focusout)="unfocuskey()" (focus)="focuskey()" *ngIf="showLikeProp==false" [(ngModel)]="Keywords" style="width:80%;height:97px;margin-left:18%"></textarea>
              <label *ngIf="showLikeProp==true" style="margin-left:18%;width:80%;">{{Keywords}}</label>
            </div>

          </div>
          <br /><br />
          <div class="row margin-top form-group col-md-12">
            <button (click)="Draft()" *ngIf="showLikeProp==false" class="fill-btn-blue col-md-3" style="margin-left:20%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Save draft</button>
            <button (click)="Save()" *ngIf="showLikeProp==false" class="fill-btn-blue col-md-3" style="margin-left:3%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Submit</button>
            <button (click)="Draft()" *ngIf="showLikeProp==true" disabled class="fill-btn-disabled col-md-3" style="margin-left:20%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Save draft</button>
            <button (click)="Save()" *ngIf="showLikeProp==true" disabled class="fill-btn-disabled col-md-3" style="margin-left:3%;" (mouseover)="changeStyle($event)" (mouseout)="changeStyleOut($event)">Submit</button>
            <br /><br />
            <label *ngIf="SaveDraft">The draft saved</label>
          </div>
        </div>
          </div>
          </div>
  </div>
</div>

<!--<div>
  <label style="display: inline-block;width: 120px;">Division:</label>
  <select #t (change)="selectDivision($event.target.value)" [(ngModel)]="Division" *ngIf="SessionName==null">
    <option [value]="Division" selected>{{Division}}</option>
    <option *ngFor="let Division of ArrDivision" [value]="Division">
      {{Division}}
    </option>
  </select>
  <label *ngIf="SessionName!=null">{{Division}}</label>
  <br /><br />
  <label style="display: inline-block;width: 120px;"> Sub Division:</label>
  <select #t (change)="selectSubDivision($event.target.value)" [(ngModel)]="SubDivision" *ngIf="SessionName==null">
    <option [value]="SubDivision" selected>{{SubDivision}}</option>
    <option *ngFor="let SubDivision of ArrSubDivision" [value]="SubDivision">
      {{SubDivision}}
    </option>
  </select>
  <label *ngIf="SessionName!=null">{{SubDivision}}</label>

  <br /><br />
  <label style="display: inline-block;width: 120px;">Lecture title:</label><input type="text" [(ngModel)]="TitleEnglish" style="margin-right: 10px;" />
  <label style="display: inline-block;width: 180px;">Lecture title (Hebrew):</label><input type="text" [(ngModel)]="TitleHebrew" /><br /><br />
  <label style="display: inline-block;width: 120px;">Proposal(250 words)</label><textarea [(ngModel)]="Proposal"></textarea><br /><br />
  <label style="display: inline-block;width: 120px;">Language</label>
  <select #t (change)="selectlang($event.target.value)" [(ngModel)]="Language">
    <option [value]="Language" selected>{{Language}}</option>
    <option *ngFor="let Language of ArrLanguage" [value]="Language">
      {{Language}}
    </option>
  </select><br /><br />
  <label style="display: inline-block;width: 120px;">Keywords</label><textarea [(ngModel)]="Keywords"></textarea><br /><br />
  <input type="radio" name="one\two" value="1" (change)="showTwo=false" /><label>Lone Lecturer</label>
  <input type="radio" name="one\two" value="2" (change)="showTwo=true" /><label>Shared lecture</label>
  <div *ngIf="showTwo">
    <br /><label>Enter email and name</label>
    <br />
    <br />
    <label style="margin-right:20px">Email</label><input type="text" [(ngModel)]="Email2" style="margin-right:20px" />
    <label style="margin-right:20px">Name</label><input type="text" [(ngModel)]="Name2" />
  </div>
  <div style="padding-left:50px;padding-top:30px;">
    <button (click)="Draft()" class="fill-btn-blue" style="padding:10px; margin-right: 100px;width:150px;">Save draft</button>
    <button (click)="Save()" class="fill-btn-blue" style="padding:10px;width:150px;">Submit</button>
    <br /><br />
    <label *ngIf="SaveDraft">The draft saved</label>
  </div>
</div>
  </div>-->
