<div class="containerDivGeneric" style="width: 320px; height: 533px;" id="Top" #Top>
  <div class="col-md-8 marginAuto" style="margin: 0 !important;">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
    </div>

    <h4 class="header-border">payment successed</h4>
    <div>
      <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
        <div class="div col-md marginAuto" style="padding: 15px 10px;">
          <label class="textEn">
            Thank you for your payment.
            <br />
            A receipt will be sent to your email address.
          </label>
        </div>
      </div>
    </div>

  </div>
  <!--<button *ngIf="Button" (click)="BackToShoppingCartStore()" class="fill-btn-blue" style="padding:10px; margin-top: 5%;margin-bottom:5%; width: 250px;">BACK TO SHOPPING CART</button>-->

</div>
