<div class="containerDivGeneric">
  <div class="col-md-8 marginAuto" style="margin-left:15%;">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
    </div>

    <h4 class="header-border">success page!!!!!!!!!!!!!!!!!!!</h4>
    <div>
      <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
        <div class="div col-md-5 marginAuto">
          <br />
          <h4>success!!!!!!!!!!!!!!!!!!!!!!!!!!</h4>
          <!-- <h4>Thank you </h4>
          <br />  <label>you  will soon</label>
          <br /> <label>receive an email for a lecture proposal or buy a book</label> -->
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
