<br />
<div class="row">
  <div class="clearfix"></div>

  <div class="col-md-5">
    <h5 style="color:#27b5e5">
      SUBMIT A SESSION
      <div class="tooltip">
        <img src="/assets/images/TooltipIcon.png" />
        <span class="tooltiptext" style="text-align:left;padding-left:2%;">
          1. A session title in English and Hebrew(if possible)<br />
          2. A session abstract (up to 250 words)<br />
          3. Complete names and email addressof all
          session particlpants including the lectures
          and the session chairperson.<br />
          4. A session consist of four lectures or three
          lectures and response, in addition to a session
          cahir. If you cannot find four particlpants and
          a chair , you may apply with three lectures on the
          candition that the Academic committee may add
          a fours lectures to the session
        </span>
      </div>

    </h5>
    <br /><br />
    <div class="row margin-top">
      <label class="headerGray" #headerEnglish>
        Session title[English]
        <div class="tooltipSmall">
          <img src="/assets/images/TooltipIcon.png" />
          <span class="tooltiptextSmall" style="text-align:left;padding-left:2%;height:200px!important;">
            Title in English (In the Latin American Jewry Section, titles may be submitted in <br />
            Spanish/Portuguese,  in the Ladino subdivision <br />
            the title may be submitted in Ladino)
          </span>
        </div>
      </label>
    </div>
    <div class="row margin-top">
      <input #testInput type="text" [(ngModel)]="SessionNameEnglish" style="width:80%;" (focusout)="unfocusEnglish()" (focus)="focusEnglish()"/>
    </div>
    <div class="colorFocus">
      <div class="row margin-top">
        <label class="headerGray header" id="header" name="header" #headerHebrew>
          Session title[Hebrew]
          <div class="tooltipSmall">
            <img src="/assets/images/TooltipIcon.png" />
            <span class="tooltiptextSmall" style="text-align:left;padding-left:2%;">
              Title in Hebrew (In the Yiddish subdivision, <br />
              the title may be submitted in Yiddish with Hebrew Characters
            </span>
          </div>

        </label>
      </div>
      <div class="row margin-top">
        <input #testInput type="text" class="input" [(ngModel)]="SessionName" style="width:80%;" (focusout)="unfocusHebrew()" (focus)="focusHebrew()"/>
      </div>
    </div>
    <div class="row margin-top ">
      <label class="headerGray" #headerDivision>Division:</label>
    </div>
    <div class="row margin-top">
      <select (click)="focusDivision()" (mouseleave)="unfocusDivision()"  (change)="selectDivision($event.target.value)" [(ngModel)]="Division" style="background:none;width:80%;">
        <option *ngFor="let Division of ArrDivision" [value]="Division">
          {{Division}}
        </option>
      </select>
    </div>
    <div class="row margin-top">
      <label class="headerGray" #headerSubDiv>Subdivision:</label>
    </div>
    <div class="row margin-top">
      <select (click)="focusSubDiv()" (mouseleave)="unfocusSubDiv()" [(ngModel)]="SubDivision" style="background:none;width:80%;">
        <option *ngFor="let SubDivision of ArrSubDivision" [ngValue]="SubDivision">
          {{SubDivision}}
        </option>
      </select>
    </div>
    <div class="row margin-top">
      <label class="headerGray" #headerAbs> Session Abstract:</label>
    </div>
    <div class="row margin-top">
      <textarea #testInput [(ngModel)]="Proposal" style="width:80%;height:97px;" (focusout)="unfocusAbs()" (focus)="focusAbs()"></textarea>

    </div>
  </div>

  <!--<div class="clearfix"></div>
  <div class="clear"></div>-->

  <div class="col-md-5 backGray floatLeft ddiv" id="Back" >
    <br />
    <h4 style="color:#27b5e5">
      Session participants
      <div class="tooltipSmall">
        <img src="/assets/images/TooltipIcon.png" />
        <span class="tooltiptextSmall" style="text-align:left;padding-left:2%;font-size:small;width:300px !important; height:180px !important">
          Please add the names and email addresses of all<br />
          the particlpants in your proposed session <br />
          Including yourself. preferably in the order you <br />
          would like their papers to be presented at the congress <br />
          All particlpants will receive notification<br />
          by email that you submitted them as part of this<br />
           session<br />
          The lecturers will receive instructions and a<br />
          like to submit their individual lecture proposals
        </span>
      </div>


    </h4>
    <h6 style="color:#27b5e5">In the order you would like to be presented at thr congress</h6>
    <br /><br />
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerTC>Title</label>
      <label class="col-md-4 margLeft3 headerGray" #headerNC>Chairperson:</label>
      <label class="col-md-4 margLeft7 headerGray" #headerEC>Email:</label>
    </div>
    <div class="row ">
      <select [(ngModel)]="TitleChair" style="background:content-box;" (click)="focusTC()" (mouseleave)="unfocusTC()" >
        <option value="Prof"> Prof </option>
        <option value="Dr4"> Dr</option>
        <option value="Mr4"> Mr  </option>
        <option value="Ms4"> Ms </option>
      </select>
      <div class="col-md-5">
        <input (focusout)="unfocusNC()" (focus)="focusNC()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstNameChair" class="margLeft3" />
        <input (focusout)="unfocusNC()" (focus)="focusNC()" style="width:45%;" #testInput type="text" [(ngModel)]="LastNameChair" class="margLeft3" />
      </div>
      <input (focusout)="unfocusEC()" (focus)="focusEC()" #testInput type="text" [(ngModel)]="ChairmanEmail" class="margLeft3" />
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT1>Title</label>
      <label class="col-md-4 margLeft3 headerGray" #headerN1>Lecture Name:</label>
      <label class="col-md-4 margLeft7 headerGray" #headerE1>Email:</label>
    </div>
    <div class="row">
      <select [(ngModel)]="Title1" style="background:content-box;" (click)="focusT1()" (mouseleave)="unfocusT1()" >
        <option value="Prof"> Prof </option>
        <option value="Dr4"> Dr</option>
        <option value="Mr4"> Mr  </option>
        <option value="Ms4"> Ms </option>
      </select>
      <div class="col-md-5">
        <input  (focusout)="unfocusN1()" (focus)="focusN1()"style="width:45%;" #testInput type="text" [(ngModel)]="FirstName1" class="margLeft3" />
        <input (focusout)="unfocusN1()" (focus)="focusN1()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName1" class="margLeft3" />
      </div>
      <input (focusout)="unfocusE1()" (focus)="focusE1()" #testInput type="text" [(ngModel)]="Email1" class="margLeft3" />
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT2>Title</label>
      <label class="col-md-4 margLeft3 headerGray" #headerN2>Lecture Name:</label>
      <label class="col-md-4 margLeft7 headerGray" #headerE2>Email:</label>
    </div>
    <div class="row" >
      <div  >
        <select [(ngModel)]="Title2" style="background:content-box;" (click)="focusT2()" (mouseleave)="unfocusT2()" >
          <option value="Prof"> Prof </option>
          <option value="Dr4"> Dr</option>
          <option value="Mr4"> Mr  </option>
          <option value="Ms4"> Ms </option>
        </select>
      </div>
      <div class="col-md-5">
        <input (focusout)="unfocusN2()" (focus)="focusN2()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstName2" class="margLeft3" />
        <input (focusout)="unfocusN2()" (focus)="focusN2()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName2" class="margLeft3" />
      </div>
      <input (focusout)="unfocusE2()" (focus)="focusE2()" #testInput type="text" [(ngModel)]="Email2" class="margLeft3" />
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT3>Title</label>
      <label class="col-md-4 margLeft3 headerGray" #headerN3>Lecture Name:</label>
      <label class="col-md-4 margLeft7 headerGray" #headerE3>Email:</label>
    </div>
    <div class="row">
      <select [(ngModel)]="Title3" style="background:content-box;" (click)="focusT3()" (mouseleave)="unfocusT3()" >
        <option value="Prof"> Prof </option>
        <option value="Dr4"> Dr</option>
        <option value="Mr4"> Mr  </option> 
        <option value="Ms4"> Ms </option>
      </select>
      <div class="col-md-5">
        <input (focusout)="unfocusN3()" (focus)="focusN3()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstName3" class="margLeft3" />
        <input (focusout)="unfocusN3()" (focus)="focusN3()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName3" class="margLeft3" />
      </div>
      <input (focusout)="unfocusE3()" (focus)="focusE3()" #testInput type="text" [(ngModel)]="Email3" class="margLeft3" />
    </div>
    <div class="row margTop2">
      <label class="col-md-1 headerGray" #headerT4>Title</label>
      <label class="col-md-4 margLeft3 headerGray " #headerN4>Lecture Name:</label>
      <label class="col-md-4 margLeft7 headerGray" #headerE4>Email:</label>
    </div>
    <div class="row ">
      <select [(ngModel)]="Title4" style="background:content-box;" (click)="focusT4()" (mouseleave)="unfocusT4()" >
        <option value="Prof"> Prof </option>
        <option value="Dr4"> Dr</option>
        <option value="Mr4"> Mr  </option>
        <option value="Ms4"> Ms </option>
      </select>
      <div class="col-md-5">
        <input (focusout)="unfocusN4()" (focus)="focusN4()" style="width:45%;" #testInput type="text" [(ngModel)]="FirstName4" class="margLeft3" />
        <input (focusout)="unfocusN4()" (focus)="focusN4()" style="width:45%;" #testInput type="text" [(ngModel)]="LastName4" class="margLeft3" />
      </div>
      <input (focusout)="unfocusE4()" (focus)="focusE4()" #testInput type="text" [(ngModel)]="Email4" class="margLeft3" />
    </div>
    <br /><br />
  </div>
  <div class="col-md-8 margTop2" style="text-align:center;">
    <button (click)="SendInviteMember()" class="fill-btn-blue ">SEND</button>
  </div>

</div>


<div class="container-fluid" *ngIf="showErrEmpty">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal fade" data-backdrop="false" id="myModal" role="dialog" style="display:block;opacity:1!important;top: 14%!important;
    left: 22%!important;width:50% !important">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="showErrEmpty=!showErrEmpty">&times;</button>
            </div>
            <div class="modal-body">
              <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
                <div class="divERR col-md-5 marginAuto">
                  <br />
                  <h4>ERROR</h4>
                  <br />  <label>You must fill in all fields!</label>
                  <br /><br />
                </div>
              </div>
              
              <br /><br /><br /><br /><br /><br />
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<script>
  $("input").focus(function () {
    $("header").css("color", "#27b5e5").fadeOut(2000);
  });
</script>






