

<div>
  <div class="col-md-12 marginAuto" style="max-width:1190px">
    <br />

    <div class="marginAuto col-md-12" style="float:left;padding-left: 0 !important;">

      <div class=" right">
        <div class="top-line">
          <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
        </div>
      </div>
      <h4 class="header-border"style="display:none">THE 18TH WORLD CONGRESS JEWISH STUDIES</h4>
    </div>
    <div>
      <br />
      <div class="div col-md-7 marginAuto" style="margin-top:25%;text-align:center;">
        <br />
        <h3 style="color: #27b5e5;">Thank you {{Name.FirstName}}      {{Name.LastName}}!</h3>
        <br />  <label style="font-size:x-large;text-align:left;color:#0e73a8;">The Academic Committee of the World Union of Jewish Studies will discuss proposals for sessions and individual lectures.</label>
        <br /><label style="font-size:x-large;text-align:left;color:#0e73a8;">Notices of the commission's decision will be sent until early February 2021.</label>
        <br /><br />
      </div>
    </div>
  </div>
</div>
