
<div>
  <div class="col-md-12 marginAuto" style="max-width:1190px">
    <br />

    <div class="marginAuto col-md-12" style="float:left;padding-left: 0 !important;">

      <div class=" right">
        <div class="top-line">
          <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
        </div>
      </div>
      <h4 class="header-border">THE 18TH WORLD CONGRESS JEWISH STUDIES</h4>
    </div>
    <div>
      <br />
      <div class="div col-md-7 marginAuto" style="margin-top:25%;">
        <br />
        <h5 style="color:#27b5e5;text-align:center;">Proposals for lectures that are not part of pre-organized sessions </h5>
        <button (click)="PropSingle()" class="fill-btn-blue" style="padding:10px; margin-right: 100px;margin-left: 150px;width: 300px;margin-top:5%;height:80px;">Start a new proposal</button>

        <br />
        <button (click)="UserPass()" class="fill-btn-blue" style="padding:10px; margin-right: 100px;margin-left: 150px;width: 300px;margin-top:5%;height:80px;">
          Login and update your proposal
        </button>
        <br /><br />
      </div>
    </div>
  </div>
</div>



