<div class="containerDivGeneric">
  <div class="col-md-8 marginAuto" style="margin-left:15%;">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
    </div>

    <h4 class="header-border">payment failed</h4>
    <div>
      <!-- <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
        <div class="div col-md-5 marginAuto">
          <br />
          <h4>fail!!!!!!!!!!!!!!!!!!!!!!!!!!</h4>
              <br /><br />
        </div>
      </div> -->
      <!-- <label>payment failed</label> -->
      <!-- <a href="http://jewish-studies.b2story.com/Pay/6">Back to pay page</a> -->
    </div>
  </div>
</div>
