<div class="containerDivGeneric"style="width: 320px; height: 533px;" id="Top" #Top>
  <div class="col-md-8 marginAuto" style="margin: 0 !important;">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/Wujs_NewLogo_Eng.gif" />
    </div>

    <h4 class="header-border">payment failed</h4>
    <div>
      <div class="col-md-12 marginAuto" style="text-align: center;margin-top: 20%;">
        <div class="div col-md marginAuto" style="padding: 15px 10px;">
            <label class="textEn" >Sorry <br />
              Your credit card could not be processed.  <br />
              Please <a class="contactLink" >contact us</a> and we will do our best to help you. <br /> 
              WUJS staff
            </label>
            <br/> <br/>
           <label class="textHe">שלום רב <br />
              .לצערנו, החיוב לא אושר<br />
              נא <a class="contactLink" >ליצור עימנו קשר</a>, ואנו נעשה את המירב על מנת לעזור.
             <br />צוות האיגוד
            </label>
        </div>
      </div>
    </div>
  </div>
</div>
