<!-- <div style="background-color:#fff;height:150px;width:100%;">
  <div style="width:100%;border-bottom:1px solid;position:fixed;height:150px;background-color: white;z-index: 1000;top: 0;">
    <div class="top-line">
      <img class="logo-img" src="/assets/images/logo.png" style="position:fixed; top:20px;" />
    </div>
  </div>
</div>
<div class="containerDivGeneric">
  <div class="row">
    <img style="width:100%;" src="/assets/images/books.PNG" />
  </div>
</div> -->
<div class="body" id="Top" #Top>

  <div style="background-color:#fff;width:100%;height: 115px;">
    <div style="max-width: 1100px;width:100%;position:fixed;height:115px;background-color: white;z-index: 1000;top: 0;">
      <div class="top-line">
        <div style="z-index: 1000;top: 0;">
          <!-- <span class="book-name" *ngIf="!isSignIn()" style="float: left;cursor: pointer;text-decoration:underline;padding: 15px;" (click)="SendToSignIn()">!היכנס לחשבון חבר שלך או הרשם וקבל %20 הנחה</span>
          <span class="book-name" *ngIf="isSignIn() && IsMemberShip" style="float: left;cursor: pointer;padding: 15px;" >שלום {{FirstNameHebrew}} {{LastNameHebrew}} קבלת 20% הנחת חבר</span>
          <span class="book-name" *ngIf="isSignIn() && !IsMemberShip" style="float: left;cursor: pointer;text-decoration:underline;padding: 15px;" (click)="SendToSignIn()" >שלום {{FirstNameHebrew}} {{LastNameHebrew}}, הרשם כחבר וקבל 20% הנחה</span>
        -->
        <span class="book-name" *ngIf="isSignIn()" style="float: left;padding: 15px;" >שלום {{FirstNameHebrew}} {{LastNameHebrew}}</span> 
          <div style="margin-left:92%;top:0px;position:fixed;">
            <div class="tooltipSmall">
              <span *ngIf="num!=0 && num<10" style="margin-left:4%" class="right-cart-number" id="right-cart-num" data-spm-anchor-id="a2g0o.productlist.1000002.i0.14015a2cFC9YMg" (click)="OpenTooltip()">{{num}}</span>
              <span *ngIf="num!=0 && num>9" class="right-cart-number" id="right-cart-num" data-spm-anchor-id="a2g0o.productlist.1000002.i0.14015a2cFC9YMg" (click)="OpenTooltip()">{{num}}</span>
              <!--<span *ngIf="num!=0" class="right-cart-number" id="right-cart-num" data-spm-anchor-id="a2g0o.productlist.1000002.i0.14015a2cFC9YMg" >{{num}}</span>-->
              <img *ngIf="num!=0" style="width: 77px; height: 94px; cursor:pointer;" src="/assets/images/Cart_Number.png" (click)="OpenTooltip()"/>
              <img *ngIf="num==0" style="width: 77px; height: 94px; cursor:pointer;" src="/assets/images/Cart.png" (click)="OpenTooltip()" />
              <mat-card class="tooltiptextSmall " style="background-color:white !important;top: 74px;right: 0; height: 508px !important;width: 370px!important;"#CartTooltip id="CartTooltip">
                <div class="col-md" style="direction: rtl;margin:auto;display: flex;justify-content:space-around;">
                  <div>
                    <span class="span" class="shopping-cart-title cart-num-books">{{num}} ספרים בסל</span>
                    <br />
                    <mat-divider style="left: 0; right: 0;margin: auto; width: 90%;top: 30px;"></mat-divider>
                    <br />
                  </div>
                </div>
                <div class="col-md" style="height: 65%;overflow-y: scroll; margin:auto;">
                  <div *ngFor="let item of DB; let i = index" style="position:relative; ">
                    <div>
                      <div style="display: flex;justify-content:space-around; padding-top:5%;">
                        <span class="col-md-3 cart-item-total">₪{{item.Total}}</span>
                        <span class="col-md-5" style="text-align: right;color: #026fa7;font-size:12px;font-family:'Open Sans', sans-serif;font-weight: bold; ">{{item.NameBook}} </span>
                        <img src={{item.ImageBook}} style="width: 75px;height: 102px; " />
                      </div>
                      <br />
                      <mat-divider></mat-divider>
                    </div>
                  </div>
                </div>
                <div style="margin:auto;">
                  <div class="col-md" style="justify-content:space-around;z-index: 1000;margin:auto;background-color:#fff;">
                    <mat-divider style="left: 0; right: 0;margin: auto; width: 90%;"></mat-divider>
                    <div class="row" style="float: left;width: 370px; margin-top:5px;">
                      <div class="row" style="width: 370px;">
                        <label class="col-md-4 cart-total">₪{{this.Total}}</label>
                        <label class="col-md-3 cart-total-price">סה"כ</label>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <!-- <button  class="view-cart-btn" style="float: left;margin-right: 0; margin-right: 22px; width: 155px; padding-right: 0px; padding-left: 0; margin-left: 34px;" (click)="NavigCart()">הצג/ערוך עגלה</button>    -->
                        <button class="fill-btn-blue checkout-btn" (click)="NavigCart1()" style="padding-right: 5px;padding-left: 0;float: right;width: 333px;height: 54px;">תשלום</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>

  <div *ngIf="DetailsBook">
   <div class="col-md-12  marginAuto" style="display:flex; padding-bottom: 50px;">
      <div class="col-md-6 floatLeft" style="margin-left: 124px;direction: rtl;">
        <h1 class="book-name" >{{DetailsBook.Name}}</h1>
        <br />
        <div class="row">
        <div style="margin-right: 15px;" >
          <span class="price" *ngIf="DetailsBook.SallePrice!=0" style="margin-right: 30px;"><span>₪</span>{{DetailsBook.SallePrice}}</span>
          <span class="old-price" *ngIf="DetailsBook.SallePrice!=0" style="text-decoration: line-through;margin-right:30px;text-decoration: line-through #27b5e5;font-weight: normal;"><span>₪</span>{{DetailsBook.Price}}</span>
          <span class="price" *ngIf="DetailsBook.SallePrice==0"><span>₪</span>{{DetailsBook.Price}}</span>
        </div> 
        <div  style="margin: 0; margin-right: 55px;">
          <!-- (click)="deleteQuantity(DetailsBook)"-->
          <span  style="text-align:center;"><label style="color: #494949;padding: 5px 12px;border: 1px solid #eaeaea;" (click)="Quantity>1 ? Quantity=Quantity-1:Quantity=1" >-</label> </span>
         <span  style="text-align:center;"><label style="color: #494949;padding: 5px 12px;border: 1px solid #eaeaea;">{{this.Quantity}}</label> </span>
         <span  style="width:200px;text-align:center;"><label style="color: #494949;padding: 5px 10px;border: 1px solid #eaeaea;" (click)="Quantity=Quantity+1">+</label> </span>
         </div>
         <button *ngIf="DetailsBook.Available" class="add-to-cart-btn" (click)="AddCart(DetailsBook)" style="margin: 0;margin-right: 15px;">הוסף לסל</button>   
         <button *ngIf="!DetailsBook.Available" class="add-to-cart-btn" style="background-color:#e9e9e4;color: #0b4e6f;padding:10px 44px;margin: 0;margin-right: 15px;">אזל במלאי</button>   
        </div>
        <br />
        <p class="bookDetails">{{DetailsBook.Details}}</p>
        <div class="row col-md" style="display: contents;">
          <button *ngIf="DetailsBook.Available" class="buy-btn" (click)="NavigCart(DetailsBook)" style="float: right;">קניה</button>
          <button *ngIf="!DetailsBook.Available" class="buy-btn" style="background-color:#e9e9e4;color: #0b4e6f;width:230px;float:right;">אזל במלאי</button>

          <!-- <button *ngIf="DetailsBook.Available" class="add-to-cart-btn" (click)="AddCart(DetailsBook)">הוסף לסל</button>
    <button *ngIf="!DetailsBook.Available" class="add-to-cart-btn" style="background-color:#e9e9e4;color: #0b4e6f;padding:10px 44px;">אזל במלאי</button>
   -->
        </div>
          <br /><br />
      </div>
      <div >
        <div data-thumb="/assets/images/book1.PNG" data-thumb-alt="" class="woocommerce-product-gallery__image" style="position: relative; overflow: hidden; max-width: 100%; height: 588px; width: 410px; float: right;">
          <img src={{DetailsBook.Image}} class="wp-post-image" alt="" title="modern_love_tee" data-caption="" data-large_image_width="500" data-large_image_height="650" sizes="(max-width: 500px) 100vw, 500px" />
        </div>
      </div>
   </div>
    
  </div>
</div>
