@font-face {
  font-family: 'OpenSansBold';
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap) format("truetype");
}

body{
  max-width: 1100px !important;
  margin: auto !important;
}
.body {
  max-width: 1100px;
  margin: 0px auto;
  text-align: left; 
}
.right-cart-number {
  /* background: rgba(7, 181, 229, 0.80); */
  /* margin-left: 40px; */
  max-width: fit-content;
  min-width: fit-content;
  height: fit-content;
  color: #fff;
  /* border-radius: 10px; */
  position: absolute;
  top: 8px;
  left: 46px;
  font-size: 13px;
  /* line-height: 20px; */
  text-align: center;
  /* padding: 0 2px; */
  padding-top: 7%;
  cursor: pointer;
}
.btn-send-message {
  text-align: center;
  width: 9%;
  padding: 1%;
  background: linear-gradient(#0040ff,#668cff);
  color: white;
  border: none;
  font-size: medium;
  margin-top: 20px;
}
.logo-img {
  /*width: 200px;
  height: 150px;*/
  margin-left: 70%;
  margin-top: 10px;
  margin-right: 10%;
}

.book-jornal {
  width: 100%;
  height: 150px;
}
.input {
  width: 20%;
  height: 40px;
  font-size: x-large;
}

.td-letter {
  font-size: x-large;
  color: #668cff;
  text-align: center;
}

.center-form {
  margin-left: 40%;
}

.letter-Header {
  font-size: 50px;
  color: #668cff;
  text-align: center;
  font-weight: bold;
}

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: 588px;
  width: 408px;
}
.wp-post-image{
  border: 1px solid #85a6b7;
  padding: 6px;
}

.price{
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 600;
  font-size: 24px; 
  color:#026fa7;
}
a {
  text-decoration: none;
}

h3:hover {
  color: #026fa7;
  font-size: x-large;
}

* {
  box-sizing: border-box;
}

.products-4 > li {
  float: left;
  width: 24.25%;
  margin-right: 1%;
}

.book-jornal {
  width: 100%;
  height: 150px;
}

.products > li {
  border: 1px solid #efefef;
  border-bottom-width: 2px;
  margin-bottom: 10px;
}

.fusion-main-menu, .fusion-logo-background {
  --header_sticky_nav_padding: 35px;
}

.fusion-main-menu {
  --header_sticky_menu_color: #026fa7;
  --header_sticky_nav_font_size: 18px;
  --nav_height: 140px;
  --mobile_nav_padding: 25px;
  --menu_text_align: center;
  --menu_thumbnail_size-width: 26px;
  --menu_thumbnail_size-height: 14px;
}

.fusion-main-menu {
  float: right;
  position: relative;
  z-index: 200;
  overflow: hidden;
}

.product {
  position: relative;
}
.book-name{
  text-align:right;
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color:#026fa7;
}
.checkout-btn{
  background-color: #0b4e6f;
  color: white; 
  font-family:'Open Sans', sans-serif;
  text-transform: uppercase; 
  font-weight: normal; 
  font-size:18px;
  margin-right: 10px;
  margin-left: 40px;
  outline:none;
}
.checkout-btn:hover{
  background-color:  #6190a9 ;
  color: white; 
  font-family:'Open Sans', sans-serif;
  text-transform: uppercase; 
  font-weight: normal; 
  font-size:18px;
  outline:none;
}
.fill-btn-blue {
  background-color: #0b4e6f;
  padding: 10px 0px;
  border: none;
  color: white;
  font-weight: normal;
  font-size: 18px;
  outline:none;
  cursor: pointer;
}
.view-cart-btn{
  background-color: #ffffff;
  outline: #0b4e6f;
  color: #0b4e6f;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  cursor: pointer;
  padding-right: 0;
  padding-left: 0;
  padding: 10px 0px;
  width: 150px;
  height: 55px;
  margin-left: 30px;
  outline:none;
}
.view-cart-btn:hover{
background-color:#0b4e6f;
color:#ffffff;
font-family:'Open Sans', sans-serif;
text-transform: uppercase; 
font-weight: normal; 
font-size:18px;
outline:none;
}
.right-cart-number { 
  /* background: rgba(7, 181, 229, 0.80); */
  /* margin-left: 40px; */
  max-width: fit-content;
  min-width: fit-content;
  height: fit-content;
  color: #fff;
  /* border-radius: 10px; */
  position: absolute;
  top: 8px;
  left: 46px;
  font-size: 13px;
  /* line-height: 20px; */
  text-align: center;
  /* padding: 0 2px; */
  padding-top: 7%;
  cursor: pointer;
  }
h4:before {
  content: '\f07a';
  font-family: fontawesome;
  padding-left: 10px;
}

h3 {
  font-size: x-large;
}

.icon-cart {
  width: 40px;
  height: 20px;
}

.fusion-body .fusion-content-sep.sep-solid, .fusion-body .fusion-separator.sep-solid {
  border-bottom-style: solid;
  border-top-style: solid;
}

.fusion-body .fusion-content-sep.sep-double, .fusion-body .fusion-separator.sep-double {
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.product .product-buttons .fusion-content-sep {
  margin-top: 14px;
  margin-bottom: 15px;
}



.span {
  color: #026fa7;
  font-size: large;
}

ul {
  list-style: none;
}

.ul {
  color: #026fa7;
  font-size: x-large;
  margin: 10px;
  display: inline;
}

  .ul:hover {
    color: #27b5e5;
  }

.buy-btn{
background-color:#0b4e6f;
color: white;
font-family:'Open Sans', sans-serif;
text-transform: uppercase; 
font-size:18px;
cursor:pointer;
padding-right: 0;
padding-left: 0;
padding: 10px 48px;
border: none;
width: 140px;
height: 55px;
margin: 0;
outline:none;
}
.buy-btn:hover{
  background-color:#6190a9;
  color:white;
  font-family:'Open Sans', sans-serif;
  text-transform: uppercase; 
  font-size:18px;
  }  

   .cart-num-books{
    color:#026fa7;
    font-family:'OpenSansBold', sans-serif;
    font-weight: 600;
    font-size:16px;
    direction: rtl !important;
  }

  .cart-item-total{
    color: #026fa7;
    font-size:18px;
    font-family:'OpenSansBold', sans-serif;
    font-weight: 600;
  }

  
.cart-total-price{
  color: #000000;
  font-size:16px;
  font-family:'OpenSansBold', sans-serif;
  font-weight:600;
  top: 10px;
  padding-bottom: 10px;
  margin-left: 153px;
  float: right;
}

.cart-total{
  color: #000000;
  font-size:16px;
  font-family:'OpenSansBold', sans-serif;
  font-weight:600;
  float: left; 
  top: 10px; 
  padding-left: 39px;
  padding-bottom: 10px;
}
  .add-to-cart-btn{
    background-color:  #6190a9 ;
    color: white;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal; 
    font-size:18px;
    cursor:pointer;
    padding-right: 0;
    padding-left: 0;
    padding: 10px 48px;
    border: none;
    width: 214px;
    height: 55px;
    margin: 0;
    margin-right: 75px;
    margin-left: 75px;
    outline:none;
  }
.add-to-cart-btn:hover{
  background-color:  #0b4e6f ;
  color:white;
  font-family:'Open Sans', sans-serif;
  text-transform: uppercase; 
  font-weight: normal; 
  font-size:18px;
}

.tooltiptext:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #e9e9e4;
  left: -8px;
  top: 20%;
  color: #026fa7;
}

.tooltipSmall {
  position: relative;
  display: contents;
  /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

  /* Tooltip text */
  .tooltipSmall .tooltiptextSmall {
    visibility: hidden;
    width: 120px;
    background-color: #e9e9e4;
    color: #026fa7;
    text-align: center;
    padding: 5px 0;
    /*border-radius: 6px;*/
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    /*top: -5%;*/
  }
   .tooltiptextSmall:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  right: 30px;
  top: -3%;
  color: #026fa7;
} 
.tooltiptextSmall {
  width: 200px !important;
  height: 60px !important;
}

.tooltipSmall:hover .tooltiptextSmall {
  visibility: visible;
}

.tooltiptext {
  width: 200px !important;
  height: 150px !important;
}


.tooltip {
  position: relative;
  display: contents;
  /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}